@import '../../../../styles/mixins';
@import '../../../../styles/props';

// focus
@mixin focus {
  &:not(:disabled),
  &:not(.app-disabled),
  &:not(.app-error) {
    &:hover,
    &:focus,
    &.app-focus {
      @content;
    }
  }
}

// error
@mixin error {
  &:not(:disabled),
  &:not(.app-disabled) {
    &.app-error {
      @content;
    }
  }
}

input {
  background-color: $white;
  outline: 0;
  border: 0;

  // placeholder
  &::placeholder {
    opacity: 1;
    color: $field-placeholder;
  }
}

// common field
.app-field {
  @include robotoRegular;
  @include border(1px solid $field-border);
  @include padding($field-padding);
  border-radius: $field-border-radius;
  height: $field-height;
  font-size: $field-font-size;
  line-height: 14px;
  transition: border-color $field-transition-duration;

  // disabled
  &:disabled,
  &.app-disabled {
    background-color: $field-disabled-background;
  }

  // focused
  @include focus {
    @include border(1px solid $field-focus-border);
  }

  // error
  @include error {
    @include border(1px solid $field-error-border);
  }
}
