<!-- header -->
<div class="app-calendar-header">
  <!-- year -->
  <div class="app-calendar-year">
    {{ displayDate.year }}
  </div>

  <!-- month -->
  <div class="app-calendar-month">
    {{ displayDate.instance | date: 'MMM' }}
  </div>
</div>

<!-- days -->
<div class="app-calendar-days">
  <!-- day -->
  <div *ngFor="let item of weekDayString" class="app-calendar-day">
    {{ item.substr(0, 3) }}
  </div>
</div>

<!-- dates -->
<div class="app-calendar-dates">
  <!-- date -->
  <div
    (click)="onClickDate(item)"
    *ngFor="let item of dates"
    [class.current]="item.isSame(currentDate)"
    [class.out-of-calendar]="isOutOfDisplayDate(item)"
    [class.today]="item.isSame(todayDate)"
    class="app-calendar-date"
  >
    {{ item.date }}
  </div>
</div>

<!-- controls -->
<div class="app-calendar-controls">
  <!-- to prev button-->
  <div (click)="toPrevMonth()" [class.app-disabled]="previousMonthDisabled" class="app-calendar-control arrow">
    <!-- chevron left -->
    <app-icon-chevron-left></app-icon-chevron-left>
  </div>

  <!-- to today button -->
  <div (click)="toToday()" class="app-calendar-control today">
    Today
  </div>

  <!-- to next button -->
  <div (click)="toNextMonth()" [class.app-disabled]="nextMonthDisabled" class="app-calendar-control arrow">
    <!-- chevron right -->
    <app-icon-chevron-right></app-icon-chevron-right>
  </div>
</div>
