@import '../../../../styles/mixins';
@import '../../../../styles/props';

:host {
  @include flex(center, space-between);
  @include padding(0 46px 0 40px);
  @include border(1px solid $solitude);
  background-color: $white;
  height: 44px;
  font-size: 12px;
  line-height: 13px;
}

// copyright
.app-copy {
  @include ubuntuRegular;
  color: $eclipse;
}

// links
.app-links {
  @include flex(center);
}

// link
.app-link {
  @include ubuntuMedium;
}

// link gap
.app-link + .app-link {
  margin-left: 46px;
}

@media (max-width: 767px) {
  :host {
    @include flex(center, center);
    @include padding(0 20px 0 20px);
    flex-direction: column;
    height: 70px;
  }
  // copyright
  .app-copy {
    margin-bottom: 14px;
  }
  .app-link + .app-link {
    margin-left: 26px;
  }
}
