<ng-container *ngIf="user">
  <!-- avatar changer -->
  <div class="app-user-avatar">
    <!-- user avatar -->
    <app-user-avatar [user]="user"></app-user-avatar>

    <!-- uploader -->
    <div (click)="onUploadButtonClicked()" *ngIf="!readOnly" class="app-upload-avatar">
      <!-- camera icon -->
      <app-icon-camera></app-icon-camera>
      <!-- file input -->
      <input #uploader (change)="onFileChange($event)" type="file" accept="image/*" />
    </div>
  </div>

  <!-- user name -->
  <div class="app-name">{{ user.firstName }} {{ user.lastName }}</div>

  <!-- user role -->
  <div class="app-role">
    {{ user.role | uppercase }}

    <!-- toolkit icon -->
    <app-icon-toolkit *ngIf="user['toolkit']"></app-icon-toolkit>
  </div>

  <!-- email -->
  <div class="app-additional">
    {{ user.email }}
  </div>
</ng-container>
