@import 'src/app/styles/mixins';
@import 'src/app/styles/props';

// user avatar wrapper
.app-user-avatar {
  position: relative;

  // user avatar
  app-user-avatar {
    @include ball(61px);
  }

  // upload avatar button
  .app-upload-avatar {
    @include bottomRight;
    @include ball(20px);
    @include flex(center, center);
    position: absolute;
    cursor: pointer;
    background-color: $havelock-blue;
    transition: all 0.1s;
    user-select: none;

    &:hover {
      background-color: lighten($havelock-blue, 10);
    }

    input {
      display: none;
    }
  }
}
