@import 'src/app/styles/mixins';
@import 'src/app/styles/props';

app-form-field + app-form-field {
  margin-top: 18px;
}

.app-checkbox {
  @include flex(center);
  @include ubuntuRegular;
  font-size: 12px;
  line-height: 13px;
  cursor: pointer;
  margin-top: 18px;
  user-select: none;

  app-checkbox {
    margin-right: 4px;
  }
}

// form field
app-form-field {
  ::ng-deep {
    app-select {
      .app-options {
        @include border(1px solid $suva-grey);
      }
    }
  }
}
