@import '../../../../styles/mixins';
@import '../../../../styles/props';

:host {
  @include flex(center, space-between);
  @include padding($modal-header-padding);
  height: $modal-header-height;
  user-select: none;
}

// modal title
.app-modal-title {
  font-size: $modal-header-font-size;
  color: $modal-header-color;
}

// icon
.app-icon {
  cursor: pointer;

  // default
  ::ng-deep {
    path {
      fill: $very-light-grey;
    }
  }

  // hover
  &:hover {
    ::ng-deep {
      path {
        fill: $warn;
      }
    }
  }
}
