// form
form {
  margin-bottom: 0;

  app-character-icon-field + app-character-icon-field {
    margin-top: 12px;
  }
}

// button
.app-flat-button {
  margin-top: 110px;
}

//media qureis for mobile devices
@media (max-width: 767px) {
  app-card {
    button {
      position: absolute;
      left: 30px;
      width: calc(100% - 60px);
      bottom: 20px;
    }
  }
  .app-back {
    margin-top: 30px;
  }
}
