<!-- card -->
<app-card>
  <app-spinner *ngIf="loading; else main"></app-spinner>

  <ng-template #main>
    <!-- logo -->
    <app-logo></app-logo>

    <!-- back button -->
    <a (click)="emitBackClick()" class="app-back">
      <!-- left arrow -->
      <app-icon-arrow-left></app-icon-arrow-left>
      BACK
    </a>

    <!-- title -->
    <app-card-title>
      PASSWORD RECOVERY
    </app-card-title>

    <!-- sub title -->
    <app-card-sub-title>
      Please answer the question below<br />
      to continue
    </app-card-sub-title>

    <!-- form -->
    <form (appSubmitted)="verifySecretAnswer()" appFormNeutralizer>
      <!-- question -->
      <app-character-icon-field [control]="question" character="Q" label="QUESTION"></app-character-icon-field>

      <!-- answer -->
      <app-character-icon-field
        [control]="answer"
        [errors]="answerErrors"
        character="A"
        label="Answer"
      ></app-character-icon-field>

      <!-- hidden button -->
      <button type="hidden"></button>
    </form>

    <!-- button -->
    <button (click)="verifySecretAnswer()" appFlatButton>
      SUBMIT
    </button>
  </ng-template>
</app-card>
