<ng-container *ngIf="user">
  <!--label -->
  <div class="app-label">
    Auth Code
  </div>

  <!-- paragraph -->
  <p class="app-p">
    <ng-content select="[message]"></ng-content>
  </p>

  <ng-container *ngIf="code; else generate">
    <!-- code -->
    <div class="app-auth-code">
      <!-- shield icon -->
      <app-icon-shield></app-icon-shield>
      {{ code }}
    </div>

    <!-- can regenerate -->
    <ng-container *ngIf="canRegenerate; else regenerateDisable">
      <button (click)="sendAuthCode()" appOutlinedButton class="app-send-email" theme="secondary">
        <!-- loading-->
        <app-spinner *ngIf="sending; else sendDefault"></app-spinner>

        <ng-template #sendDefault>
          <!-- email icon -->
          <app-icon-email></app-icon-email>
          SEND via Email
        </ng-template>
      </button>

      <button (click)="generateCode()" class="app-generate regenerate" appOutlinedButton theme="secondary">
        <ng-container *ngIf="loading; else regenDefault">
          <app-spinner></app-spinner>
          Generating...
        </ng-container>

        <ng-template #regenDefault>
          <!-- reload icon -->
          <app-icon-reload></app-icon-reload>
          Regenerate Auth Code
        </ng-template>
      </button>
    </ng-container>

    <!-- regenerate disable -->
    <ng-template #regenerateDisable>
      <!-- send via email -->
      <button (click)="sendAuthCode()" appInlineButton class="app-send-email" theme="secondary">
        <!-- loading-->
        <app-spinner *ngIf="sending; else sendDefault"></app-spinner>

        <ng-template #sendDefault>
          <!-- email icon -->
          <app-icon-email></app-icon-email>
          SEND via Email
        </ng-template>
      </button>
    </ng-template>
  </ng-container>

  <!-- generate button template -->
  <ng-template #generate>
    <!-- generate button -->
    <button (click)="generateCode()" appOutlinedButton class="app-generate" theme="secondary">
      <ng-container *ngIf="loading; else genDefault">
        <app-spinner></app-spinner>
        Generating...
      </ng-container>

      <ng-template #genDefault>
        Generate
      </ng-template>
    </button>
  </ng-template>
</ng-container>
