@import 'src/app/styles/mixins';
@import 'src/app/styles/props';

// table columns
app-table {
  ::ng-deep {
    .app-table-row {
      .app-table-column {
        @include setMultipleWidths(
          (10.43062201%, 15.78947368%, 14.83253589%, 17.89473684%, 14.54545455%, 17.1291866%, 9.282296651%)
        );

        @include setMultipleMinWidths(
          (102.6373206px, 155.368421px, 145.9521532px, 176.0842105px, 143.1272728px, 168.5511961px, 91.33779905px)
        );
      }
    }

    // name header left padding
    .app-table-header {
      .app-table-row {
        .app-table-column {
          &:nth-child(6) {
            @include paddingLeft(47px);
          }
        }
      }
    }
  }
}

app-tooltip {
  display: inline-block;
  max-width: 100%;
}

// link styles
.app-link {
  &.name {
    @include robotoMedium;
    @include ellipsis;
    display: block;
    width: 100%;
  }

  // view more button
  &.view-more {
    font-size: 10px;
    line-height: 13px;
    margin-top: 4px;
  }
}

// map section
.app-map {
  position: relative;

  // map icon
  app-icon-map {
    @include box(18px);
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  app-more-options {
    ::ng-deep {
      .app-options {
        width: 91px;
      }
    }
  }
}

app-side-modal-add-association,
app-side-modal-space-info,
app-side-modal-access-history,
app-delete-modal {
  position: fixed;
  z-index: 5000;
}

@media (max-width: 767px) {
  // table
  app-table {
    ::ng-deep {
      .app-table-row {
        .app-table-column {
          // set multiple column widths
          @include setMultipleWidths((33%, 90%, 50%, 50%, 33%, 34%, 10%));

          @include setMultipleMinWidths((10px, 10px, 10px, 10px, 10px, 10px, 10px));

          @include setMultipleOrder((3, 1, 6, 7, 4, 5, 2));
        }
      }
    }
  }
  // table
  app-table {
    ::ng-deep {
      .app-table-row {
        .app-table-column:nth-child(3) {
          padding-right: 0;
        }
      }
    }
  }
  app-table {
    ::ng-deep {
      .app-table-row {
        .app-table-column:nth-child(4) {
          padding-left: 0;
        }
      }
    }
  }
  app-more-options {
    top: -4px;
    right: -5px;
  }
  app-associations {
    display: flex;
    justify-content: center;
    border-top: solid 1px rgba(0, 0, 0, 0.12);
    padding-top: 16px;
  }
  .column-label {
    color: #939393;
    text-transform: uppercase;
    font-size: 11px;
  }
}

@media (min-width: 768px) and (max-width: 1300px) {
  // table
  app-table {
    ::ng-deep {
      .app-table-row {
        .app-table-column {
          @include setMultipleMinWidths((30px, 30px, 40px, 30px, 30px, 40px, 30px));
        }
      }
    }
  }
}
