<!-- card -->
<app-card>
  <app-spinner *ngIf="loading; else main"></app-spinner>

  <ng-template #main>
    <!-- logo -->
    <app-logo></app-logo>

    <!-- top wrapper -->
    <div class="app-top">
      <!-- verified icon -->
      <app-icon-verified></app-icon-verified>
    </div>

    <!-- message -->
    <div class="app-message">
      In the case of your password recovery process, we have sent an email confirmation to:
      <br /><br />
      <span>{{ email }}</span>
    </div>

    <div class="btn-mobile-wrapp">
      <!-- resend -->
      <div class="app-resend">
        Didn't receive the email? <a (click)="resendEmail()" class="app-link">Resend email</a>
      </div>

      <!-- button -->
      <button (click)="redirectLogin()" appFlatButton>
        Go To Login Page
      </button>
    </div>
  </ng-template>
</app-card>
