@import 'src/app/styles/mixins';
@import 'src/app/styles/props';

:host {
  @include fullScreen;
  @include padding(73px);
  @include flex(center, flex-start, column);
  pointer-events: none;
  position: fixed;
}

app-message-item + app-message-item {
  margin-top: 20px;
}

@media (max-width: 767px) {
  :host {
    padding: 73px 0;
  }
  app-message-item {
    font-size: 10px;
  }
}
