@import 'src/app/styles/mixins';
@import 'src/app/styles/props';

// side modal content
app-side-modal-content {
  height: calc(100% - 78px);
}

// content
.app-content {
  @include flex(center, null, column);
}

// verified
app-icon-verified {
  margin: 57px 0 38px;

  ::ng-deep {
    svg {
      @include box(68px);
    }
  }
}

// label
.app-label {
  &.message {
    text-align: center;
    margin-bottom: 32px;
  }
}

// add new
.app-add-new {
  @include padding(0 14px);
  @include flex(center, center);
  white-space: nowrap;
  font-size: 10px;
  line-height: 11px;
  height: 28px;

  app-icon-admin {
    @include box(12px);
    margin-right: 6.2px;

    ::ng-deep {
      svg {
        width: 10.76px;
        height: 8.9px;
      }

      path {
        fill: $havelock-blue;
      }
    }
  }
}
