<!-- header -->
<ng-content select="app-accordion-header"></ng-content>

<!-- header additional -->
<ng-content select="app-accordion-header-additional"></ng-content>

<!-- content -->
<ng-content select="app-accordion-content"></ng-content>
