@import 'src/app/styles/mixins';
@import 'src/app/styles/props';

:host {
  display: block;
}

// toggle
.app-toggle {
  @include flex(center, space-between);
  @include paddingRight(16px);
  color: $eclipse;
  cursor: pointer;
  height: 47px;

  .app-left {
    @include ubuntuMedium;
    @include flex(center);
    font-size: 12px;
    line-height: 13px;

    span {
      flex: 0 1;
    }

    .app-icon {
      margin-left: 4px;

      ::ng-deep {
        path {
          fill: $havelock-blue;
        }
      }
    }
  }

  .app-total {
    @include robotoBold;
    font-size: 16px;
    line-height: 19px;
  }
}

// list
.app-list {
  @include paddingRight(16px);
  height: 180px;
}

// item
.app-item {
  @include padding(10px 35px 10px 4px);
  position: relative;

  .app-flex {
    @include flex(center, space-between);
  }

  .app-icon {
    @include box(18px);

    ::ng-deep {
      path {
        fill: $egyptian-blue;
      }
    }
  }

  app-icon-lock {
    ::ng-deep {
      svg {
        width: 12px;
        height: 15.75px;
      }
    }
  }

  app-icon-package {
    ::ng-deep {
      svg {
        width: 14.52px;
        height: 16px;
      }
    }
  }

  // right
  .app-right {
    @include flex(center, space-between);
    width: calc(100% - 35px);
    margin-left: 17px;

    .app-icon {
      @include box(14px);
      cursor: pointer;

      ::ng-deep {
        svg {
          width: 8.17px;
          height: 10.5px;
        }

        path {
          fill: $pink-swan;
        }

        &:hover {
          path {
            fill: $bittersweet;
          }
        }
      }
    }
  }

  .app-user-delete {
    position: absolute;
    right: 35px;
    top: 50%;
    margin-top: -8px;
    cursor: pointer;

    ::ng-deep {
      path {
        fill: $pink-swan;
      }

      &:hover {
        path {
          fill: $bittersweet;
        }
      }
    }
  }
}

app-user-info {
  width: calc(100% - 28px);

  ::ng-deep {
    .app-right {
      width: calc(100% - 36px);
    }
  }
}

.app-item + .app-item {
  &::before {
    @include topRight;
    position: absolute;
    width: calc(100% - 4px - 18px - 17px);
    height: 1px;
    background-color: $solitude;
    content: '';
  }
}

// info
.app-info {
  width: calc(100% - 24px);

  // name
  .app-name {
    @include ubuntuMedium;
    font-size: 12px;
    line-height: 13px;
    color: $eclipse;
  }

  // state
  app-state-label {
    margin-top: 3px;
  }
}
