<!-- toggle button -->
<div (click)="toggle()" class="app-toggle">
  <!-- left -->
  <div class="app-left">
    <span>ASSOCIATED {{ type | uppercase }}S</span>
    <app-icon-arrow-drop-up *ngIf="opened; else down"></app-icon-arrow-drop-up>

    <!-- down -->
    <ng-template #down>
      <app-icon-arrow-drop-down></app-icon-arrow-drop-down>
    </ng-template>
  </div>

  <!-- total -->
  <div class="app-total">
    {{ items.length }}
  </div>
</div>

<!-- list -->
<app-custom-scrollbar *ngIf="opened" class="app-list">
  <!-- item -->
  <div *ngFor="let item of items" class="app-item">
    <!-- flex wrapper -->
    <div class="app-flex">
      <!-- switch by type -->
      <ng-container [ngSwitch]="type">
        <!-- device -->
        <ng-container *ngSwitchCase="'device'">
          <!-- lock -->
          <app-icon-lock></app-icon-lock>

          <!-- right -->
          <div class="app-right">
            <!-- info -->
            <div class="app-info">
              <!-- name -->
              <div class="app-name">
                {{ item.name }}
              </div>

              <!-- state -->
              <app-state-label [state]="item.state" type="device"></app-state-label>
            </div>

            <!-- delete icon -->
            <app-icon-delete (click)="emitRemoveClick(item)"></app-icon-delete>
          </div>
        </ng-container>

        <!-- space -->
        <ng-container *ngSwitchCase="'space'">
          <!-- package -->
          <app-icon-package></app-icon-package>

          <!-- right -->
          <div class="app-right">
            <!-- info -->
            <div class="app-info">
              <!-- name -->
              <div class="app-name">
                {{ item.name }}
              </div>

              <!-- state -->
              <app-state-label [state]="item.state" type="space"></app-state-label>
            </div>

            <!-- delete icon -->
            <app-icon-delete (click)="emitRemoveClick(item)"></app-icon-delete>
          </div>
        </ng-container>

        <!-- keyholder -->
        <ng-container *ngSwitchCase="'keyholder'">
          <app-user-info [user]="item" type="custom">
            <app-state-label [state]="item.state" custom type="keyholder"></app-state-label>
          </app-user-info>

          <!-- delete icon -->
          <app-icon-delete (click)="emitRemoveClick(item)" class="app-user-delete"></app-icon-delete>
        </ng-container>
      </ng-container>
    </div>
  </div>
</app-custom-scrollbar>
