@import 'src/app/styles/mixins';
@import 'src/app/styles/props';

// menu button
.app-menu-button {
  @include ubuntuRegular;
  @include flex(center, space-between);
  @include padding(0 16px);
  width: calc(100% + 32px);
  color: $eclipse;
  font-size: 12px;
  line-height: 13px;
  height: 30px;
  margin: 0 -16px;
  transition: all 0.1s;
  border-radius: 0;
  cursor: pointer;

  span {
    @include flex(center);

    app-icon-toolkit-reverse {
      margin-left: 1.8px;
    }
  }

  &:hover {
    background-color: rgba($havelock-blue, 0.15);
  }
}

// button gap
.app-menu-button + .app-menu-button {
  margin-top: 6px;
}

// right arrow
app-icon-arrow-right {
  @include box(16px);

  ::ng-deep {
    path {
      stroke: $havelock-blue;
    }
  }
}
