<!-- user -->
<ng-container *ngIf="user">
  <!-- content -->
  <app-side-modal-content>
    <!-- title -->
    <app-side-modal-title>
      EDIT PROFILE
    </app-side-modal-title>

    <div class="app-actions">
      <!-- button -->
      <button (click)="emitChangeEmailClick()" class="app-menu-button">
        Change Email ID
        <!-- icon left -->
        <app-icon-arrow-right></app-icon-arrow-right>
      </button>

      <!-- button -->
      <button (click)="emitToolkitConfigurationClick()" *ngIf="user.toolkit" class="app-menu-button">
        <span>
          Toolkit Configuration
          <app-icon-toolkit-reverse></app-icon-toolkit-reverse>
        </span>
        <!-- icon left -->
        <app-icon-arrow-right></app-icon-arrow-right>
      </button>
    </div>
  </app-side-modal-content>

  <!-- footer -->
  <app-side-modal-footer>
    <!-- done -->
    <button (click)="emitDoneClick()" appFlatButton theme="secondary">
      Done
    </button>

    <!-- cancel -->
    <button (click)="emitCancelClick()" appInlineButton theme="secondary">
      Cancel
    </button>
  </app-side-modal-footer>
</ng-container>
