<!-- side modal -->
<app-side-modal (closeClick)="emitCloseClick()">
  <!-- user info -->
  <app-side-user-info (viewInit)="onInfoInit($event)" *ngIf="user" [readOnly]="true" [user]="user"></app-side-user-info>

  <!-- device info -->
  <app-side-device-info (viewInit)="onInfoInit($event)" *ngIf="device" [device]="device"></app-side-device-info>

  <!-- space info -->
  <app-side-space-info (viewInit)="onInfoInit($event)" *ngIf="space" [space]="space"></app-side-space-info>

  <!--header -->
  <app-side-modal-header>
    <!-- title -->
    <app-side-modal-title> ADD TO A {{ type | uppercase }} </app-side-modal-title>
  </app-side-modal-header>

  <!-- content -->
  <app-side-modal-content>
    <!-- scroll content -->
    <app-custom-scrollbar>
      <!-- associated items -->
      <app-associated-items
        (removeClick)="onRemoveClicked($event)"
        [items]="associationData"
        [type]="type"
      ></app-associated-items>

      <!-- unassociated -->
      <app-unassociated-items
        (addClick)="onAddClicked($event)"
        [associations]="associationData"
        [type]="type"
      ></app-unassociated-items>
    </app-custom-scrollbar>
  </app-side-modal-content>

  <!-- footer -->
  <app-side-modal-footer>
    <!-- loading -->
    <app-spinner *ngIf="loading; else actions"></app-spinner>

    <ng-template #actions>
      <!-- apply -->
      <button (click)="onApplyClicked()" appFlatButton theme="secondary">
        Apply
      </button>

      <!-- cancel -->
      <button (click)="emitCloseClick()" appInlineButton theme="secondary">
        Cancel
      </button>
    </ng-template>
  </app-side-modal-footer>
</app-side-modal>
