@import 'src/app/styles/mixins';
@import 'src/app/styles/props';

:host {
  display: block;
}

app-side-modal {
  ::ng-deep {
    .app-side-content {
      @include flex(stretch, null, column);
    }
  }
}

// header
app-side-modal-header {
  @include flex(20px 16px);
}

// content
app-side-modal-content {
  @include padding(0 0 0 16px);
  height: calc(100% - 184px - 58px - 78px);
}

// footer
app-side-modal-footer {
  @include flex(center);
  height: 78px;

  button {
    width: 80px;
    height: 28px;
    font-size: 10px;
    line-height: 11px;
  }

  button + button {
    margin-left: 7px;
  }

  app-spinner {
    width: 100%;

    ::ng-deep {
      .app-spinner {
        @include ball(28px);
      }
    }
  }
}

// scroll content
app-custom-scrollbar {
  height: 100%;
}

// unassociated items
app-unassociated-items {
  position: relative;

  &::before {
    @include topRight;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $solitude;
    content: '';
  }
}
