<ng-container *ngIf="user">
  <!-- side modal -->
  <app-side-modal (closeClick)="emitCloseClick()">
    <!-- side user info -->
    <app-side-user-info (viewInit)="onInfoInit($event)" [readOnly]="true" [user]="user"></app-side-user-info>

    <!-- switch by view -->
    <ng-container [ngSwitch]="view">
      <!-- default -->
      <ng-container *ngSwitchCase="'default'">
        <!-- profile -->
        <app-admin-profile
          (closeClick)="emitCloseClick()"
          (editClick)="toEdit()"
          [style.hegiht]="contentHeight"
          [user]="user"
        ></app-admin-profile>
      </ng-container>

      <!-- edit -->
      <ng-container *ngSwitchCase="'edit'">
        <!-- edit profile -->
        <app-admin-edit
          (cancelClick)="toDefault()"
          (saved)="onUserSaved($event)"
          [style.hegiht]="contentHeight"
          [user]="user"
        ></app-admin-edit>
      </ng-container>
    </ng-container>
  </app-side-modal>
</ng-container>
