@import 'src/app/styles/mixins';
@import 'src/app/styles/props';

:host {
  display: block;
  height: 100%;
}

// stepper
app-stepper {
  margin: 16px 0 18px;
}

// content
app-side-modal-content {
  height: calc(100% - 71px - 78px);
}

// footer
app-side-modal-footer {
  @include flex(flex-start);
  @include padding(21px 16px 28px);

  button {
    min-width: 80px;
    height: 28px;
    font-size: 10px;
    line-height: 11px;
  }

  app-spinner {
    width: 100%;

    ::ng-deep {
      .app-spinner {
        @include ball(28px);
      }
    }
  }
}

// custom scrollbar
app-custom-scrollbar {
  height: calc(100% - 97px);
}

// label
.app-label {
  @include ubuntuMedium;
  font-size: 12px;
  line-height: 13px;
  color: $eclipse;

  &.header {
    margin-bottom: 20px;
  }
}
