@import 'src/app/styles/mixins';
@import 'src/app/styles/props';

:host {
  @include padding(22px 20px 25px);
  background-color: $white;
  display: block;
  border-radius: 6px;
}

// heading
.app-heading {
  @include ubuntuMedium;
  font-size: 14px;
  line-height: 16px;
  color: $egyptian-blue;
  margin-bottom: 25px;
}

// status item gap
app-status-item + app-status-item {
  margin-top: 16px;
}

app-status-footer {
  margin-top: 16px;
}

@media (max-width: 767px) {
  .app-heading {
    color: $white;
    background: $egyptian-blue;
    padding: 12px 20px 12px;
    margin-bottom: 0;
  }
}
