<!-- select control -->
<div (click)="toggleOptions()" class="app-select-control">
  <!-- value displayable input -->
  <input
    [class.app-focus]="focus"
    [disabled]="disabled"
    [placeholder]="placeholder"
    [value]="value"
    [class.app-error]="error"
    appInput
    readonly
  />

  <!-- icon -->
  <ng-container *ngIf="!opened; else up">
    <app-icon-arrow-drop-down></app-icon-arrow-drop-down>
  </ng-container>

  <ng-template #up>
    <app-icon-arrow-drop-up></app-icon-arrow-drop-up>
  </ng-template>
</div>

<!-- options -->
<div
  (outsideClick)="closeOptions()"
  *ngIf="opened"
  [(horizontalPriority)]="horizontal"
  [(verticalPriority)]="vertical"
  [outsideDetectorContainer]="elementRef"
  [positionDetectorContainer]="elementRef"
  appAutoScrollContainer
  appOutsideDetector
  appPositionDetector
  class="app-options"
>
  <!-- render option items -->
  <ng-container *ngFor="let item of selectOptions">
    <div
      (click)="onOptionClicked(item)"
      [class.app-focus]="isSelected(item)"
      [focused]="isSelected(item)"
      appAutoScrollItem
      class="app-option-item"
    >
      {{ item.label }}
    </div>
  </ng-container>
</div>
