<!-- scroll content -->
<app-custom-scrollbar>
  <!-- content -->
  <app-side-modal-content>
    <!-- verified icon -->
    <app-icon-verified></app-icon-verified>

    <div class="app-label success">
      Device Registration<br />
      Successful
    </div>

    <!-- message -->
    <div class="app-message">
      The device has been set-up and ready to use. Go to device detail to see the data.
    </div>

    <!-- button -->
    <button (click)="emitOpenDetail()" appFlatButton theme="secondary">
      View Device Detail
    </button>
  </app-side-modal-content>
</app-custom-scrollbar>

<!-- footer -->
<app-side-modal-footer>
  <!-- close -->
  <button (click)="emitCloseClick()" appOutlinedButton theme="secondary">
    Close
  </button>
</app-side-modal-footer>
