@import '../../../styles/mixins';
@import '../../../styles/props';

:host {
  position: absolute;
  top: 0;
  right: 100px;
  display: block;
  width: 340px;
  margin-top: 120px;
}

// loading
app-spinner {
  height: 200px;
}

// form
form {
  margin-top: 53px;

  // password
  app-password-field {
    margin-top: 12px;
  }

  // button
  button {
    width: 100%;
    margin-top: 24px;
  }
}

// login options
.app-options {
  @include flex(center, space-between);
  margin-top: 14px;
}

// remember checkbox
.app-remember {
  @include robotoRegular;
  @include flex(center);
  cursor: pointer;
  font-size: 12px;
  line-height: 14px;
  color: $eclipse;
  user-select: none;

  app-checkbox {
    margin-right: 6px;
  }
}

// forgot link
.app-forgot {
  @include robotoRegular;
  font-size: 12px;
  line-height: 14px;
}

// footer
.app-footer {
  @include robotoRegular;
  margin-top: 84px;
  font-size: 12px;
  line-height: 14px;
  color: $eclipse;
  text-align: center;
}

//media qureis for mobile devices
@media (max-width: 767px) {
  :host {
    width: 100%;
    position: fixed;
    right: 0;
    margin-top: 0;
    z-index: 1;
  }
  app-card {
    min-height: 100vh;
  }
  app-card-title {
    margin-top: 30px;
  }
  .app-footer {
    position: absolute;
    width: calc(100% - 60px);
    bottom: 20px;
  }

  .logig-hide {
    display: none;
  }
  .logig-show {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  :host {
    right: 20px;
  }
}
