@import '../../../../styles/mixins';
@import '../../../../styles/props';

:host {
  @include flex(center, space-between);
}

// code section
.app-code {
  @include robotoRegular;
  @include flex(center, center);
  font-size: 26px;
  line-height: 32px;
  color: $eclipse;
  border-radius: 4px;
  background-color: $alice-blue;
  width: 175px;
  height: 52px;
}

// reload button
.app-reload {
  @include poppinsRegular;
  @include padding(0 14px);
  @include flex(center);
  margin-left: 8px;
  font-size: 12px;
  line-height: 18px;
  cursor: pointer;
  user-select: none;

  .app-icon {
    @include box(24px);
    margin-right: 3px;
  }
}
