<!-- date control -->
<div (click)="toggleCalendar()" class="app-date-control">
  <!-- input for displaying value -->
  <input
    [class.app-focus]="focus"
    [disabled]="disabled"
    [placeholder]="placeholder"
    [value]="(value | date: format) || ''"
    appInput
    readonly
  />

  <!-- calendar icon -->
  <app-icon-calendar-today></app-icon-calendar-today>
</div>

<!-- calendar modal -->
<div
  (outsideClick)="closeCalendar()"
  *ngIf="opened"
  [(horizontalPriority)]="horizontal"
  [(verticalPriority)]="vertical"
  [outsideDetectorContainer]="elementRef"
  [positionDetectorContainer]="elementRef"
  appOutsideDetector
  appPositionDetector
  class="app-calendar"
>
  <!-- calendar content -->
  <app-calendar
    (dateChange)="onCurrentDateChange($event)"
    [date]="innerControl.value"
    [maxDate]="maxDate"
    [minDate]="minDate"
  ></app-calendar>
</div>
