<!-- header -->
<app-side-modal-header>
  <!-- title -->
  <app-side-modal-title>
    CREATE NEW<br />
    KEYHOLDER
  </app-side-modal-title>
</app-side-modal-header>

<!-- content -->
<app-side-modal-content>
  <app-custom-scrollbar>
    <div class="app-label header">
      Complete the data below
    </div>

    <!-- name -->
    <app-form-field [control]="name" [errors]="nameErrors" [maxLength]="200" label="Name" type="input"></app-form-field>

    <!-- email -->
    <app-form-field [control]="email" [errors]="emailErrors" label="Email" type="input"></app-form-field>

    <!-- status -->
    <app-form-field
      [control]="status"
      [errors]="statusErrors"
      [options]="statusOptions"
      label="Status"
      placeholder="Select status"
      type="select"
    ></app-form-field>

    <!-- description -->
    <app-form-field [control]="description" label="Description" type="text"></app-form-field>

    <!-- pin -->
    <app-form-field
      [control]="pin"
      [maxLength]="4"
      [errors]="pinErrors"
      mask="0000"
      label="Pin"
      type="input"
    ></app-form-field>

    <!-- payload -->
    <app-form-field [control]="payload" [errors]="payloadErrors" label="Payload" type="input"></app-form-field>

    <!-- checkbox -->
    <div (click)="allowPinRelease = !allowPinRelease" class="app-checkbox">
      <app-checkbox [active]="allowPinRelease" appearance="filled"></app-checkbox>
      Allow Pin Release Shackle
    </div>
  </app-custom-scrollbar>
</app-side-modal-content>

<!-- footer -->
<app-side-modal-footer>
  <app-spinner *ngIf="loading; else actions"></app-spinner>

  <ng-template #actions>
    <button (click)="submit()" appFlatButton theme="secondary">
      Submit
    </button>

    <button (click)="cancelClick.emit()" appInlineButton theme="secondary">
      Cancel
    </button>
  </ng-template>
</app-side-modal-footer>
