@import 'src/app/styles/mixins';
@import 'src/app/styles/props';

// label
.app-label {
  &.toolkit {
    @include flex(center);
    margin: 18px 0;

    .app-icon {
      margin-left: 2.8px;

      ::ng-deep {
        svg {
          width: 12.02px;
          height: 12px;
        }
      }
    }
  }
}

// radio buttons
.app-radio-buttons {
  @include flex(center);

  // radio
  .app-radio {
    @include robotoRegular;
    @include flex(center);
    width: 50%;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
    user-select: none;

    app-radio {
      margin-right: 6px;
    }
  }
}

// form field gap
app-form-field + app-form-field {
  margin-top: 18px;
}

.app-key-serial-number {
  margin-top: 18px;
}
