<!-- header -->
<app-side-modal-header>
  <!-- title -->
  <app-side-modal-title>
    CREATE NEW<br />
    ADMINISTRATOR
  </app-side-modal-title>
</app-side-modal-header>

<!-- content -->
<app-side-modal-content>
  <!-- stepper -->
  <app-stepper (stepChange)="onStepChanged($event)" [step]="1" [steps]="2"></app-stepper>

  <!-- label -->
  <div class="app-label header">
    Complete the data below
  </div>

  <!-- scrollbar -->
  <app-custom-scrollbar>
    <!-- email -->
    <app-form-field [control]="email" [errors]="emailErrors" label="Email ID" type="input"></app-form-field>

    <!-- name -->
    <app-form-field [control]="name" [errors]="nameErrors" label="Name" type="input"></app-form-field>

    <!-- toolkit label -->
    <div class="app-label toolkit">Toolkit User <app-icon-toolkit-reverse></app-icon-toolkit-reverse></div>

    <!-- radio buttons -->
    <div class="app-radio-buttons">
      <!-- radio -->
      <div (click)="enableToolkit()" class="app-radio">
        <!-- radio -->
        <app-radio [checked]="toolkit"></app-radio>
        Enable
      </div>

      <!-- radio -->
      <div (click)="disableToolkit()" class="app-radio">
        <!-- radio -->
        <app-radio [checked]="!toolkit"></app-radio>
        Disable
      </div>
    </div>

    <!-- serial number -->
    <div *ngIf="toolkit" class="app-key-serial-number">
      <app-form-field
        [control]="serial"
        [maxLength]="8"
        mask="99999999"
        type="input"
        label="Key Serial Number"
      ></app-form-field>
    </div>
  </app-custom-scrollbar>
</app-side-modal-content>

<!-- footer -->
<app-side-modal-footer>
  <!-- next -->
  <button (click)="emitNextClick()" appFlatButton theme="secondary">
    Next
  </button>

  <!-- cancel -->
  <button (click)="emitCancelClick()" appInlineButton theme="secondary">
    Cancel
  </button>
</app-side-modal-footer>
