@import 'src/app/styles/mixins';
@import 'src/app/styles/props';

:host {
  @include flex(flex-start, null, column);
}

// label
.app-label {
  @include ubuntuRegular;
  font-size: 10px;
  line-height: 11px;
  margin-bottom: 6px;
  color: $suva-grey;
}

// value
.app-value {
  @include robotoRegular;
  font-size: 12px;
  line-height: 14px;
  color: $eclipse;
}
