<!-- global spinner -->
<app-spinner *ngIf="!initialized" class="app-global-spinner"></app-spinner>

<!-- summary -->
<app-table-summary (reload)="getData()" [total]="total" [lastUpdate]="lastUpdate" title="SPACES">
  <!-- icon -->
  <app-icon-package icon></app-icon-package>
</app-table-summary>

<!-- actions -->
<app-table-actions
  (filterApply)="onFilterApplied($event)"
  [(viewType)]="viewType"
  [filterConfigs]="filterConfigs"
  [filters]="filters"
  [viewTypes]="viewTypes"
>
  <!-- new button -->
  <button
    *ngIf="editPermission$ | async"
    (click)="openCreateSpace()"
    actionButton
    appFlatButton
    class="app-create-button"
    theme="primary"
  >
    <span>+</span> Create New
  </button>
</app-table-actions>

<!-- table -->
<app-space-table
  (deleted)="getData(0)"
  (deleteUndo)="getData(0)"
  (pagingChange)="onPagingChanged($event)"
  (sortsChange)="onSortsChanged($event)"
  [data]="data"
  [loading]="loading"
  [page]="page"
  [size]="size"
  [total]="total"
></app-space-table>

<!-- create space modal -->
<app-side-modal-create-space
  (created)="getData(0)"
  (closeClick)="closeCreateSpace()"
  *ngIf="createSpaceVisible"
></app-side-modal-create-space>
