@import 'src/app/styles/mixins';
@import 'src/app/styles/props';

:host {
  @include flex();
  background-color: $white;
  border-radius: 4px;
  height: 67px;

  // bar section
  .app-bar-section {
    flex: 1 0 auto;
  }
}

// title section
.app-title-section {
  @include borderRight(1px solid $solitude);
  @include flex(center, space-between);
  @include padding(0 20px 0 17px);
  min-width: 200px;
  height: 100%;

  // left
  .app-left {
    @include flex(center);
    position: relative;

    // title
    .app-title {
      @include ubuntuMedium;
      font-size: 14px;
      line-height: 16px;
      color: $egyptian-blue;
    }

    // sub title
    .app-sub-title {
      @include robotoRegular;
      position: absolute;
      top: calc(100% - 1px);
      left: 23px;
      font-size: 8px;
      line-height: 10px;
      color: $eclipse;
    }

    ::ng-deep {
      // icon
      .app-icon {
        @include box(18px);
        margin-right: 5px;

        path {
          fill: $egyptian-blue;
        }
      }
    }
  }

  // total
  .app-total {
    @include ubuntuMedium;
    font-size: 20px;
    line-height: 24px;
    color: $egyptian-blue;
    margin-left: 45px;
  }
}

// reload section
.app-reload-section {
  @include padding(0 20px);
  @include flex(center, center);
  @include borderLeft(1px solid $solitude);
  height: 100%;

  // reload icon
  app-icon-reload {
    @include box(20px);
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    ::ng-deep {
      svg {
        @include box(13.33px);
      }

      path {
        fill: $egyptian-blue;
      }
    }
  }
}

// last update section
.app-last-update {
  margin-left: 4px;
  font-size: 8px;
  line-height: 10px;

  // label
  .app-label {
    @include robotoRegular;
  }

  // time
  .app-time {
    @include robotoBold;
  }
}

@media (max-width: 767px) {
  // title section
  .app-title-section {
    @include borderRight(1px solid $white);
    width: 100%;
  }
  // arrows
  app-icon-arrow-drop-down,
  app-icon-arrow-drop-up {
    ::ng-deep {
      path {
        fill: $havelock-blue;
      }
    }
  }
  // title section
  .app-title-section {
    // total
    .app-total {
      display: flex;
    }
  }
}
