<!-- logo wrapper -->
<div class="app-logo-wrapper dh" *ngIf="!navToggle">
  <img (click)="navOpen()" class="dh ms" src="../../../../../assets//images/menu-24px.svg" alt="" />
  <!-- use compact logo -->
  <app-logo [routerLink]="['/dashboard/home']" [compact]="true"></app-logo>

  <!-- tooltip -- only in mobile device -->
  <app-icon-help class="dh ms"></app-icon-help>
</div>

<!-- logo wrapper  for mobile device-->
<div class="app-logo-wrapper dh-important" *ngIf="navToggle">
  <div class="app-flex">
    <img (click)="navClose()" class="dh ms" src="../../../../../assets/images/menu-close.svg" alt="" />
    <div class="app-divider"></div>
    <!-- user menu -->
    <app-user-menu></app-user-menu>
  </div>
  <div class="app-flex">
    <img (click)="openEdituser()" class="dh ms mr-3" src="../../../../../assets/images/edit-24px.svg" alt="" />
    <img (click)="logout()" class="dh ms" src="../../../../../assets/images/logout.svg" alt="" />
  </div>
</div>

<!-- header content -->
<div class="app-header-content dh" *ngIf="!navToggle">
  <!-- location selector -->
  <app-location-selector></app-location-selector>

  <!-- right -->
  <div class="app-right mh">
    <!-- tooltip -->
    <app-tooltip tooltip="Support">
      <!-- help button -->
      <app-icon-help></app-icon-help>
    </app-tooltip>

    <!-- divider -->
    <div class="app-divider"></div>

    <!-- user menu -->
    <app-user-menu></app-user-menu>
  </div>
</div>
