<!-- card -->
<app-card>
  <!-- loading -->
  <app-spinner *ngIf="loading; else main"></app-spinner>

  <!-- main -->
  <ng-template #main>
    <!-- logo -->
    <app-logo></app-logo>

    <!-- back button -->
    <a [routerLink]="['/main/login']" class="app-back">
      <!-- left arrow -->
      <app-icon-arrow-left></app-icon-arrow-left>
      BACK
    </a>

    <!-- title -->
    <app-card-title>
      PASSWORD RECOVERY
    </app-card-title>

    <!-- sub title -->
    <app-card-sub-title>
      In order to process your password recovery, please enter your valid email ID.
    </app-card-sub-title>

    <!-- form -->
    <form (appSubmitted)="verifyUserEmail()" appFormNeutralizer>
      <!-- email id -->
      <app-email-id-field [control]="email" [errors]="emailErrors" label="Email ID"></app-email-id-field>

      <!-- hidden button -->
      <button type="hidden"></button>
    </form>

    <!-- checkbox -->
    <div (click)="toggleNotARobot()" class="app-checkbox">
      <!-- checkbox -->
      <app-checkbox [active]="notARobot" appearance="filled"></app-checkbox>
      I'm not a robot
    </div>

    <!-- button -->
    <button (click)="verifyUserEmail()" appFlatButton>
      Next
    </button>
  </ng-template>
</app-card>
