<!-- card -->
<app-card>
  <!-- loading -->
  <app-spinner *ngIf="loading; else main"></app-spinner>

  <!-- main -->
  <ng-template #main>
    <!-- logo -->
    <app-logo></app-logo>

    <!-- title -->
    <app-card-title>
      REGISTER
    </app-card-title>

    <!-- sub title -->
    <app-card-sub-title>
      To set-up your new account, please fill the form below.
    </app-card-sub-title>

    <!-- register form -->
    <form (appSubmitted)="registerUser()" appFormNeutralizer>
      <!-- email -->
      <app-email-id-field [control]="email" [errors]="emailErrors" label="Email ID"></app-email-id-field>

      <!-- password -->
      <app-password-field [control]="password" [errors]="passwordErrors" label="Password"></app-password-field>

      <!-- captcha -->
      <app-captcha-field [control]="captcha" [errors]="captchaErrors" label="Code In The Box"></app-captcha-field>

      <!-- mock captcha -->
      <!-- this should be replaced with real captcha -->
      <app-captcha></app-captcha>

      <!-- question -->
      <app-character-icon-field
        [control]="question"
        [errors]="questionErrors"
        character="Q"
        label="Secret QUESTION"
      ></app-character-icon-field>

      <!-- answer -->
      <app-character-icon-field
        [control]="answer"
        [errors]="answerErrors"
        character="A"
        label="Secret Answer"
      ></app-character-icon-field>

      <!-- hidden button -->
      <button type="hidden"></button>
    </form>

    <!-- agreement -->
    <div (click)="toggleAgree()" class="app-agreement">
      <!-- checkbox -->
      <app-checkbox [active]="agree" appearance="filled"></app-checkbox>

      <!-- message -->
      <div class="app-agreement-message">
        <strong>[REQUIRED]</strong>By checking this box, I agree to the Mercury<sup class="app-tiny-sup">TM</sup>
        <a class="app-link">Term of Use</a> and <a class="app-link">Privacy Policy</a>
      </div>
    </div>

    <!-- button -->
    <button (click)="registerUser()" appFlatButton>
      Register
    </button>

    <!-- footer -->
    <div class="app-footer">Already have an account? <a (click)="redirectLogin()" class="app-link">Login here</a></div>
  </ng-template>
</app-card>
