<!-- header -->
<div class="app-header">
  <span>UNASSOCIATED {{ type | uppercase }}S</span>

  <div class="app-header-total">
    {{ filteredItemWithoutSearch.length }}
  </div>
</div>

<!-- sorts -->
<div class="app-sorts">
  <!-- label -->
  <div class="app-sorts-label">
    SORT:
  </div>

  <!-- sort radio -->
  <div (click)="changeSort('createdAt')" class="app-sort-radio">
    <!-- radio -->
    <app-radio [checked]="sortByNew"></app-radio>
    Newest
  </div>

  <!-- sort radio -->
  <div (click)="changeSort('name')" class="app-sort-radio">
    <!-- radio -->
    <app-radio [checked]="sortByName"></app-radio>
    A-Z
  </div>
</div>

<!-- input area -->
<div class="app-input-area">
  <!-- search input -->
  <div class="app-search-input">
    <input [formControl]="search" placeholder="Search by name or ID" appInput />

    <!-- search icon -->
    <app-icon-search></app-icon-search>
  </div>
</div>

<!-- list -->
<app-custom-scrollbar class="app-list">
  <!-- spinner -->
  <app-spinner *ngIf="loading; else list"></app-spinner>

  <!-- list -->
  <ng-template #list>
    <!-- item -->
    <div *ngFor="let item of filteredItems" class="app-item">
      <!-- flex wrapper -->
      <div class="app-flex">
        <!-- switch by type -->
        <ng-container [ngSwitch]="type">
          <!-- device -->
          <ng-container *ngSwitchCase="'device'">
            <!-- lock -->
            <app-icon-lock></app-icon-lock>

            <!-- right -->
            <div class="app-right">
              <!-- info -->
              <div class="app-info">
                <!-- name -->
                <div class="app-name">
                  {{ item.name }}
                </div>

                <!-- state -->
                <app-state-label [state]="item.state" type="device"></app-state-label>
              </div>

              <!-- delete icon -->
              <app-icon-add (click)="emitAddClick(item)"></app-icon-add>
            </div>
          </ng-container>

          <!-- device -->
          <ng-container *ngSwitchCase="'space'">
            <!-- package -->
            <app-icon-package></app-icon-package>

            <!-- right -->
            <div class="app-right">
              <!-- info -->
              <div class="app-info">
                <!-- name -->
                <div class="app-name">
                  {{ item.name }}
                </div>

                <!-- state -->
                <app-state-label [state]="item.state" type="space"></app-state-label>
              </div>

              <!-- delete icon -->
              <app-icon-add (click)="emitAddClick(item)"></app-icon-add>
            </div>
          </ng-container>

          <!-- keyholder -->
          <ng-container *ngSwitchCase="'keyholder'">
            <!-- user info -->
            <app-user-info [user]="item" type="custom">
              <!-- state -->
              <app-state-label [state]="item.state" custom type="keyholder"></app-state-label>
            </app-user-info>

            <!-- delete icon -->
            <app-icon-add (click)="emitAddClick(item)" class="app-add-user"></app-icon-add>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </ng-template>
</app-custom-scrollbar>
