@import 'src/app/styles/mixins';
@import 'src/app/styles/props';

:host {
  @include flex(center, center);
}

// step
.app-step {
  @include ubuntuMedium;
  @include ball(28px);
  @include flex(center, center);
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;

  &.previous {
    @include border(0);
    background-color: $medium-turquoise;
  }

  &.current {
    @include border(1px solid $egyptian-blue);
    color: $egyptian-blue;
  }

  &.next {
    @include border(0);
    background-color: $solitude;
    color: $jordy-blue;
  }
}

// line between the steps
.app-step-line {
  @include borderBottom(1px dashed $jordy-blue);
  height: 1px;
  width: 20px;
}
