<ng-container *ngIf="user">
  <!-- menu -->
  <!-- home -->
  <a (click)="navClose()" [routerLink]="['/dashboard/home']" class="app-menu" routerLinkActive="active">
    <!-- icon -->
    <app-icon-home></app-icon-home>

    <!-- label -->
    <span>Home</span>
  </a>

  <!-- admins -->
  <a
    (click)="navClose()"
    *ngIf="user.permissions.administrators.read"
    [routerLink]="['/dashboard/admins']"
    class="app-menu"
    routerLinkActive="active"
  >
    <!-- icon -->
    <app-icon-admin></app-icon-admin>

    <!-- label -->
    <span>Admins</span>
  </a>

  <!-- keyholders -->
  <a
    (click)="navClose()"
    *ngIf="user.permissions.keyholders.read"
    [routerLink]="['/dashboard/keyholders']"
    class="app-menu"
    routerLinkActive="active"
  >
    <!-- icon -->
    <app-icon-mobile></app-icon-mobile>

    <!-- label -->
    <span>Keyholders</span>
  </a>

  <!-- devices -->
  <a
    (click)="navClose()"
    *ngIf="user.permissions.devices.read"
    [routerLink]="['/dashboard/devices']"
    class="app-menu"
    routerLinkActive="active"
  >
    <!-- icon -->
    <app-icon-lock></app-icon-lock>

    <!-- label -->
    <span>Devices</span>
  </a>

  <!-- spaces -->
  <a
    (click)="navClose()"
    *ngIf="user.permissions.spaces.read"
    [routerLink]="['/dashboard/spaces']"
    class="app-menu"
    routerLinkActive="active"
  >
    <!-- icon -->
    <app-icon-package></app-icon-package>

    <!-- label -->
    <span>Spaces</span>
  </a>

  <!-- divider -->
  <div class="app-divider"></div>

  <!-- access-history -->
  <a
    (click)="navClose()"
    *ngIf="user.permissions.accessHistory.read"
    [routerLink]="['/dashboard/access-histories']"
    class="app-menu"
    routerLinkActive="active"
  >
    <!-- icon -->
    <app-icon-refresh-doc></app-icon-refresh-doc>

    <!-- label -->
    <span>Access History</span>
  </a>

  <!-- config -->
  <a
    (click)="navClose()"
    *ngIf="user.permissions.configurations.read"
    [routerLink]="['/dashboard/config']"
    class="app-menu"
    routerLinkActive="active"
  >
    <!-- icon -->
    <app-icon-config></app-icon-config>

    <!-- label -->
    <span>Config</span>
  </a>
</ng-container>
