@import 'src/app/styles/mixins';
@import 'src/app/styles/props';

:host {
  display: block;
  height: 100%;
  background-color: $alice-blue;
}

// menu
.app-menu {
  @include flex(center, center, column);
  @include padding(5px 0);
  width: 60px;
  border-radius: 4px;
  margin: 5px;

  // icon
  .app-icon {
    @include box(37px);
    margin-bottom: 3px;

    ::ng-deep {
      path {
        fill: $suva-grey;
      }
    }
  }

  // label
  span {
    @include robotoRegular;
    color: $suva-grey;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    width: 100%;
  }

  // router activated
  &.active {
    background-color: rgba($egyptian-blue, 0.12);

    .app-icon {
      ::ng-deep {
        path {
          fill: $egyptian-blue;
        }
      }
    }

    span {
      color: $egyptian-blue;
    }
  }
}

// menu gap
.app-menu + .app-menu {
  margin-top: 8px;
}

// divider
.app-divider {
  width: 100%;
  height: 1px;
  background-color: $solitude;
  margin: 15px 0;
}

@media (max-width: 767px) {
  :host {
    width: 100%;
    z-index: 999;
    position: absolute;
  }
  .app-menu {
    width: auto;
    flex-direction: row;
    justify-content: flex-start;
  }
  .app-menu {
    span {
      width: auto;
      margin-left: 16px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1300px) {
  // menu
  .app-menu {
    width: 50px;
    span {
      font-size: 10px;
    }
  }
}
