@import 'src/app/styles/mixins';
@import 'src/app/styles/props';

:host {
  position: relative;
  display: block;
}

app-icon-more-vertical {
  @include box(24px);
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

// options
.app-options {
  @include padding(7px 0);
  position: absolute;
  right: -9px;
  z-index: 50;

  &.bottom {
    top: calc(100% + 2px);
  }

  &.top {
    bottom: calc(100% + 2px);
  }
}
