<!-- table -->
<app-table
  (pagingChange)="emitPagingChange($event)"
  (sortChange)="emitSortsChange()"
  [columns]="columns"
  [loading]="loading"
  [page]="page"
  [rows]="data"
  [size]="size"
  [loadLabel]="loadMoreLable"
  [total]="total"
>
  <!-- sn column -->
  <ng-template appTableBodyCell columnProperty="sn" let-sn="value">
    <span class="column-label dh ms">SN</span>
    <!-- default value -->
    <ng-container *ngIf="sn; else na">
      {{ sn }}
    </ng-container>

    <!-- not available -->
    <ng-template #na>
      <span class="app-na">N/A</span>
    </ng-template>
  </ng-template>

  <!-- name column -->
  <ng-template appTableBodyCell columnProperty="name" let-device="row" let-name="value">
    <!-- link -->
    <app-tooltip position="top">
      <a (click)="openDeviceInfo(device)" class="app-link name">
        {{ name }}
      </a>
      <b tooltip>
        {{ name }}
      </b>
    </app-tooltip>
  </ng-template>

  <!-- space column -->
  <ng-template appTableBodyCell columnProperty="associatedSpaces" let-device="row" let-spaces="value">
    <!-- associations -->
    <app-associations
      (addClick)="openAddAssociation(device, spaces)"
      [associations]="spaces"
      [readOnly]="readOnly$ | async"
      type="space"
    ></app-associations>

    <div class="app-map dh ms">
      <!-- more options -->
      <app-more-options #more *ngIf="editPermission$ | async">
        <button (click)="openDeviceEdit(device); more.close()" appIconButton>
          <!-- pencil -->
          <app-icon-pencil></app-icon-pencil>
          Edit
        </button>
      </app-more-options>
    </div>
  </ng-template>

  <!-- state column -->
  <ng-template appTableBodyCell columnProperty="state" let-device="row">
    <span class="column-label dh ms">STATE</span>
    <!-- state label -->
    <app-state-label [state]="device.state" [status]="device.status" type="device"></app-state-label>
  </ng-template>

  <!-- last access -->
  <ng-template appTableBodyCell columnProperty="lastAccess" let-device="row">
    <span class="column-label dh ms">last accessed</span>
    <!-- user info -->
    <app-user-info *ngIf="device.lastAccess" [user]="device.lastAccess.keyholder" type="custom">
      <!-- custom content -->
      <a
        (click)="openAccessHistory(device)"
        *ngIf="accessHistoryReadPermission$ | async"
        class="app-link view-more"
        custom
      >
        VIEW MORE
      </a>
    </app-user-info>
  </ng-template>

  <!-- map -->
  <ng-template appTableBodyCell columnProperty="map" let-device="row">
    <div class="app-map">
      <!-- tooltip -->
      <app-tooltip *ngIf="device.lastAccess && device.lastAccess.map" position="top">
        <!-- map icon -->
        <app-icon-map></app-icon-map>
        <b tooltip>
          View Map
        </b>
      </app-tooltip>

      <!-- more options -->
      <app-more-options #more *ngIf="editPermission$ | async">
        <button (click)="openDeviceEdit(device); more.close()" appIconButton>
          <!-- pencil -->
          <app-icon-pencil></app-icon-pencil>
          Edit
        </button>
      </app-more-options>
    </div>
  </ng-template>
</app-table>

<!-- association modal -->
<app-side-modal-add-association
  (applied)="onAssociationApplied($event)"
  (closeClick)="closeAddAssociation()"
  *ngIf="addAssociationVisible"
  [associations]="associations"
  [device]="selectedDevice"
  type="space"
></app-side-modal-add-association>

<!-- access histories -->
<app-side-modal-access-history
  (closeClick)="closeAccessHistory()"
  *ngIf="accessHistoryVisible"
  [device]="selectedDevice"
  type="device"
></app-side-modal-access-history>

<!-- device info modal-->
<app-side-modal-device-info
  (updated)="onInfoUpdated()"
  (closeClick)="closeDeviceInfo()"
  *ngIf="deviceInfoVisible"
  [device]="selectedDevice"
></app-side-modal-device-info>
