@import 'src/app/styles/mixins';
@import 'src/app/styles/props';

// table columns
app-table {
  ::ng-deep {
    .app-table-row {
      .app-table-column {
        @include setMultipleWidths(
          (11.68831169%, 14.56400742%, 20.03710575%, 23.46938776%, 20.31539889%, 9.925788497%)
        );

        @include setMultipleMinWidths(
          (115.012987px, 143.309833px, 197.1651206px, 230.9387756px, 199.9035251px, 97.66975881px)
        );
      }
    }

    // name header left padding
    .app-table-header {
      .app-table-row {
        .app-table-column {
          &:nth-child(5) {
            @include paddingLeft(47px);
          }
        }
      }
    }
  }
}

// sn N/A
.app-na {
  color: rgba($pink-swan, 0.5);
}

app-tooltip {
  display: inline-block;
  max-width: 100%;
}

// link styles
.app-link {
  &.name {
    @include robotoMedium;
    @include ellipsis;
    display: block;
    width: 100%;
  }

  // view more button
  &.view-more {
    font-size: 10px;
    line-height: 13px;
    margin-top: 4px;
  }
}

// map section
.app-map {
  position: relative;

  // map icon
  app-icon-map {
    @include box(18px);
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  app-more-options {
    ::ng-deep {
      .app-options {
        width: 91px;
      }
    }
  }
}

app-side-modal-add-association,
app-side-modal-access-history,
app-side-modal-device-info {
  position: fixed;
  z-index: 5000;
}

@media (max-width: 767px) {
  // table
  app-table {
    ::ng-deep {
      .app-table-row {
        .app-table-column {
          // set multiple column widths
          @include setMultipleWidths((33%, 50%, 50%, 33%, 34%, 0%));

          @include setMultipleMinWidths((10px, 10px, 10px, 10px, 10px, 10px));

          @include setMultipleOrder((3, 1, 2, 4, 5, 6));
        }
      }
    }
  }
  .column-label {
    color: #939393;
    text-transform: uppercase;
    font-size: 11px;
  }
  app-table {
    ::ng-deep {
      .app-table-row {
        .app-table-column:nth-child(6) {
          display: none;
        }
      }
    }
  }
  app-more-options {
    top: -20px;
  }
}

@media (min-width: 768px) and (max-width: 1300px) {
  // table
  app-table {
    ::ng-deep {
      .app-table-row {
        .app-table-column {
          @include setMultipleMinWidths((50px, 50px, 80px, 90px, 80px, 40px));
        }
      }
    }
  }
}
