@import 'src/app/styles/mixins';
@import 'src/app/styles/props';

:host {
  position: relative;
  display: inline-block;
}

// error code
.app-link {
  @include robotoRegular;
  font-size: 12px;
  line-height: 14px;
}

// description card
.app-description {
  @include padding(12px 11px 10px 14px);
  position: absolute;
  left: 50%;
  margin-left: -120px;
  width: 240px;
  z-index: 50;

  &.bottom {
    top: calc(100% + 22px);

    @include topArrow(15px, $white);
  }

  &.top {
    bottom: calc(100% + 22px);

    @include bottomArrow(15px, $white);
  }
}

// section heading
.app-heading {
  @include ubuntuMedium;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 8px;
  color: $egyptian-blue;

  // solution heading
  &.solution {
    margin-top: 16px;
  }
}

// content
.app-content {
  @include robotoRegular;
  font-size: 10px;
  line-height: 14px;
  color: $eclipse;
}

@media (max-width: 767px) {
  .app-description {
    margin-left: -214px;
  }
  .app-description.bottom::after {
    left: 74%;
  }
}
