@import 'src/app/styles/mixins';
@import 'src/app/styles/props';

:host {
  display: block;
}

// header
.app-table-header {
  border-radius: 4px;
  height: 40px;

  // header row
  .app-table-row {
    background-color: transparent;
    height: 100%;

    // header column
    .app-table-column {
      @include flex(center);
      @include robotoMedium;
      font-size: 10px;
      line-height: 13px;
      color: $white;
      user-select: none;
      background-color: $free-speech-blue;

      &:first-of-type {
        @include paddingLeft(20px);
        border-radius: 4px 0 0 4px;
      }

      &:last-of-type {
        @include paddingRight(20px);
        border-radius: 0 4px 4px 0;
      }
    }
  }
}

// body
.app-table-body {
  margin-top: 8px;
  min-height: 40px * 10;

  .app-table-row {
    // body column
    .app-table-column {
      @include robotoRegular;
      font-size: 12px;
      line-height: 14px;
      color: $eclipse;
      background-color: $white;

      &:first-of-type {
        @include paddingLeft(20px);
        border-radius: 4px 0 0 4px;
      }

      &:last-of-type {
        @include paddingRight(20px);
        border-radius: 0 4px 4px 0;
      }
    }

    &:hover {
      .app-table-column {
        background-color: $alice-blue;
      }
    }
  }
}

// row
.app-table-row {
  @include flex();
  flex-wrap: nowrap;
  border-radius: 4px;
}

// row gap
.app-table-row + .app-table-row {
  margin-top: 8px;
}

// column
.app-table-column {
  @include padding(10px);

  // sortable
  &.sortable {
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    // icon for sortable field
    .app-icon {
      margin-left: 6px;

      ::ng-deep {
        path {
          fill: $white;
        }
      }
    }
  }
}

// spinner
app-spinner {
  height: 40px * 10;
}

// paginator
.app-table-paginator {
  @include padding(0 15px 0 20px);
  @include flex(center);
  height: 44px;
  background-color: $white;
  border-radius: 4px;
  margin-top: 8px;

  app-ellipsis-paginator {
    width: 100%;
  }
}

@media (max-width: 767px) {
  // row
  .app-table-row {
    flex-wrap: wrap;
    position: relative;
  }
  .app-table-column {
    display: flex;
    flex-direction: column;
  }
  .load-more {
    @include robotoRegular;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #939393;
    font-size: 13px;
    padding-top: 16px;
    text-transform: uppercase;
  }
}
.app-table-row {
  flex-wrap: wrap !important;
}

@media (min-width: 768px) and (max-width: 1280px) {
  .app-table-body {
    .app-table-row {
      // body column
      .app-table-column {
        font-size: 10px;
      }
    }
  }

  // header
  .app-table-header {
    .app-table-row {
      .app-table-column {
        &:first-of-type {
          @include paddingLeft(6px);
        }

        &:last-of-type {
          @include paddingRight(0px);
        }
      }
    }
  }

  // body
  .app-table-body {
    .app-table-row {
      .app-table-column {
        &:first-of-type {
          @include paddingLeft(6px);
        }

        &:last-of-type {
          @include paddingRight(0px);
        }
      }
    }
  }
  .app-table-column {
    padding: 10px 6px;
  }
}
