@import 'src/app/styles/mixins';
@import 'src/app/styles/props';

:host {
  display: block;
  position: relative;
}

// info icon
app-icon-info {
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

// reason card
.app-reason-card {
  @include padding(12px 14px);
  position: absolute;
  width: 158px;
  right: -2px;
  z-index: 50;

  &.bottom {
    top: calc(100% + 10px);
  }

  &.top {
    bottom: calc(100% + 10px);
  }

  app-card-title {
    line-height: 24px;
    font-size: 12px;
    margin-bottom: 12px;
  }
}

// reason and footer
.app-reason,
.app-footer {
  @include robotoRegular;
  font-size: 10px;
  line-height: 14px;
  color: $eclipse;
}

// footer
.app-footer {
  margin-top: 15px;
}
