<!-- info icon -->
<app-icon-info (click)="toggle()"></app-icon-info>

<!-- reason card -->
<app-card
  (outsideClick)="close()"
  *ngIf="opened"
  [(verticalPriority)]="vertical"
  [outsideDetectorContainer]="elementRef"
  [positionDetectorContainer]="elementRef"
  appPositionDetector
  appOutsideDetector
  class="app-reason-card"
>
  <!-- title -->
  <app-card-title>
    DISABLED REASON
  </app-card-title>

  <!-- content -->
  <div class="app-reason">
    {{ reason }}
  </div>

  <!-- footer -->
  <div class="app-footer">To learn about state rules, please go <a class="app-link">here</a>.</div>
</app-card>
