@import '../../../../styles/mixins';
@import '../../../../styles/props';

:host {
  @include robotoRegular;
  font-size: 14px;
  line-height: 16px;
  margin-top: 6px;
  color: $eclipse;
  display: block;
}
