<!-- note container -->
<div class="app-note-container">
  <!-- note label -->
  <div class="app-label">
    NOTE
  </div>

  <!-- content -->
  <div class="app-content">
    <ng-content></ng-content>
  </div>
</div>
