@import 'src/app/styles/mixins';
@import 'src/app/styles/props';

:host {
  display: block;
}

// header
app-side-modal-header {
  @include padding(20px 16px);
}

// title
app-side-modal-title {
  @include flex(center, space-between);

  // total
  .app-total {
    @include robotoBold;
    font-size: 16px;
    line-height: 19px;
    color: $eclipse;
  }
}

// history
.app-history {
  @include flex(flex-start);

  // left
  .app-left {
    @include padding(14px 0 0 16px);
    margin-right: 13px;

    .app-dot {
      @include ball(8px);
      background-color: $solitude;
      position: relative;
      top: 3px;
    }
  }

  // right
  .app-right {
    @include padding(14px 24px 15px 0);
    @include flex(flex-start, space-between);
    width: calc(100% - 37px);

    // device info
    .app-device {
      width: 91px;

      .app-name {
        @include ubuntuMedium;
        font-size: 12px;
        line-height: 13px;
        color: $eclipse;
      }

      .app-date {
        @include robotoRegular;
        font-size: 10px;
        line-height: 12px;
        color: $eclipse;
        margin: 3px 0 0 -2px;
      }
    }

    // state info
    .app-state {
      @include robotoRegular;
      @include flex(center, space-between);
      width: calc(100% - 91px);
      font-size: 10px;
      line-height: 13px;

      &.success {
        color: $eclipse;
      }

      &.error {
        color: $havelock-blue;

        .app-dot {
          background-color: $bittersweet;
        }
      }

      .app-dot {
        @include ball(6px);
        background-color: $jordy-blue;
      }
    }
  }
}

.app-history + .app-history {
  .app-right {
    @include borderTop(1px solid $solitude);
  }
}

// scrollbar
app-custom-scrollbar {
  height: calc(100% - 60px - 78px - 184px);
}

// spinner
app-spinner {
  @include padding(10px);

  ::ng-deep {
    .app-spinner {
      @include ball(28px);
    }
  }
}

// footer
app-side-modal-footer {
  height: 78px;

  button {
    @include flex(center, center);
    width: 90px;
    height: 28px;
    font-size: 10px;
    line-height: 11px;

    app-icon-map {
      @include box(16px);
      margin-right: 4px;

      ::ng-deep {
        svg {
          @include box(11.2px);
        }

        path {
          fill: $white;
        }
      }
    }
  }
}

.app-more-container {
  @include flex(center, center);
  @include padding(10px);
}

.app-link {
  &.view-more {
    @include ubuntuMedium;
    font-size: 12px;
    line-height: 13px;
  }
}

@media (max-width: 767px) {
  .app-history {
    .app-right {
      .app-state {
        justify-content: flex-end;
        .app-dot {
          margin-right: 12px;
        }
      }
    }
  }
}
