<ng-container [ngSwitch]="step">
  <!-- step 0 -->
  <ng-container *ngSwitchCase="0">
    <!-- email verify step -->
    <app-email-verify-step (verified)="onEmailVerified($event)"></app-email-verify-step>
  </ng-container>

  <!-- step 1 -->
  <ng-container *ngSwitchCase="1">
    <!-- question verify step -->
    <app-question-verify-step
      (backClick)="backToEmailVerify()"
      (verified)="onQuestionVerified()"
      [email]="verifiedUser.email"
      [secretQuestion]="verifiedUser.question"
    ></app-question-verify-step>
  </ng-container>

  <!-- step 2 -->
  <ng-container *ngSwitchCase="2">
    <!-- recovery email sent -->
    <app-recovery-email-sent [email]="verifiedUser.email"></app-recovery-email-sent>
  </ng-container>
</ng-container>
