<!-- side modal -->
<app-side-modal (closeClick)="emitCloseClick()">
  <!-- user info -->
  <app-side-user-info [readOnly]="true" [user]="user"></app-side-user-info>

  <!-- header -->
  <app-side-modal-header>
    <!-- title -->
    <app-side-modal-title>
      ACTIVITY HISTORY
      <div class="app-total">
        {{ total }}
      </div>
    </app-side-modal-title>
  </app-side-modal-header>

  <!-- scroll content -->
  <app-custom-scrollbar>
    <div class="app-activities">
      <!-- activity -->
      <div *ngFor="let item of activities" class="app-activity">
        <!-- left -->
        <div class="app-left">
          <!-- dot -->
          <div class="app-dot"></div>
        </div>

        <!-- right -->
        <div class="app-right">
          <!-- date -->
          <div class="app-date">
            {{ item.createdAt | date: 'MM/dd - hh:mm' }}
          </div>

          <!-- message -->
          <div class="app-message">
            {{ item.activity }}
          </div>
        </div>
      </div>

      <!-- loading -->
      <app-spinner *ngIf="loading; else more"></app-spinner>

      <!-- history items-->
      <ng-template #more>
        <div *ngIf="hasMore" class="app-more-container">
          <div (click)="getHistories(page + 1)" class="app-link view-more">
            View More
          </div>
        </div>
      </ng-template>
    </div>
  </app-custom-scrollbar>
</app-side-modal>
