@import 'src/app/styles/mixins';
@import 'src/app/styles/props';

:host {
  display: block;
  height: calc(100% - 184px);
}

// header
app-side-modal-header {
  @include padding(17px 16px);
}

// spinner
app-spinner {
  @include padding(10px);

  ::ng-deep {
    .app-spinner {
      @include ball(28px);
    }
  }
}

// title
app-side-modal-title {
  @include flex(center, space-between);

  .app-total {
    @include robotoBold;
    font-size: 16px;
    line-height: 19px;
    color: $eclipse;
  }
}

// scroll content
app-custom-scrollbar {
  height: calc(100% - 54px - 184px);
}

// activity
.app-activity {
  @include flex(flex-start);

  // left
  .app-left {
    @include padding(14px 0 0 16px);
    margin-right: 13px;

    .app-dot {
      @include ball(8px);
      background-color: $solitude;
      position: relative;
      top: 3px;
    }
  }

  // right
  .app-right {
    @include padding(14px 9px 15px 0);
    width: calc(100% - 37px);

    // date
    .app-date {
      @include robotoBold;
      font-size: 10px;
      line-height: 12px;
      margin-bottom: 3px;
    }

    // message
    .app-message {
      @include robotoRegular;
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.app-activity + .app-activity {
  .app-right {
    @include borderTop(1px solid $solitude);
  }
}

.app-more-container {
  @include flex(center, center);
  @include padding(10px);
}

.app-link {
  &.view-more {
    @include ubuntuMedium;
    font-size: 12px;
    line-height: 13px;
  }
}
