@import '../../../styles/mixins';
@import '../../../styles/props';

// local variables
// checkbox styles
$checkbox-size: 12px;
$checkbox-border-color: $suva-grey;
$checkbox-border: 1px solid $checkbox-border-color;
$checkbox-active-color: $havelock-blue;
$checkbox-active-border: 1px solid $checkbox-active-color;

// check styles
$default-check-color: $checkbox-active-color;
$filled-check-color: #fff;

@mixin appearance($appearance) {
  @include customAttribute('appearance', $appearance) {
    @content;
  }
}

:host {
  @include box($checkbox-size);
  @include border($checkbox-border);
  @include flex(center, center);
  cursor: pointer;
  user-select: none;
  border-radius: 2px;

  // default appearance
  @include appearance('default') {
    // active style
    &.active {
      @include border($checkbox-active-border);

      svg {
        path {
          stroke: $default-check-color;
        }
      }
    }
  }

  // filled appearance
  @include appearance('filled') {
    // active style
    &.active {
      @include border($checkbox-active-border);
      background-color: $checkbox-active-color;

      svg {
        path {
          stroke: $filled-check-color;
        }
      }
    }
  }
}
