@import '../../styles/mixins';
@import '../../styles/props';

:host {
  @include box(100%);
  display: block;
}

// content
.app-content {
  @include flex(flex-start, space-between);
  @include padding(0 170px 0 105px);
  padding-bottom: 100px;
  background-image: url('/assets/images/main-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100%;
}

// left
.app-left {
  position: relative;
  width: 456px;
  margin-top: 48px;

  app-logo {
    display: inline-flex;
  }
}

// text section
.app-texts {
  margin: 28px 0 32px;

  // heading
  h1 {
    @include ubuntuBold;
    font-size: 32px;
    line-height: 37px;
    color: $eclipse;
    margin-bottom: 20px;
  }

  // paragraph
  p {
    @include robotoRegular;
    font-size: 16px;
    line-height: 24px;
    color: $suva-grey;
  }
}

// message
.app-message {
  @include ubuntuMedium;
  @include flex(center);
  color: $eclipse;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 14px;

  .app-icon {
    margin-right: 8px;
  }
}

// cookie
app-cookie-policy {
  position: fixed;
  left: 0;
  bottom: 44px;
}

// main footer
app-main-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

@media (max-width: 767px) {
  // content
  .app-content {
    @include padding(0 20px 0 20px);
    padding-bottom: 10px;
  }

  // left
  .app-left {
    position: relative;
    width: 100%;
    margin-top: 30px;

    app-logo {
      display: inline-flex;
    }
    // button
    button {
      width: 100%;
      margin-top: 24px;
    }
  }

  // heading
  .app-texts {
    h1 {
      font-size: 28px;
    }
  }

  // footer
  .app-footer {
    @include robotoRegular;
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 14px;
    color: $eclipse;
    text-align: center;
  }

  // main footer
  app-main-footer {
    position: static;
  }
}

@media (max-width: 767px) {
  .logig-hide {
    display: none;
  }
  app-cookie-policy {
    bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  // content
  .app-content {
    @include padding(0 170px 0 20px);
  }
  // left
  .app-left {
    position: relative;
    width: 356px;
  }
  // heading
  .app-texts {
    h1 {
      font-size: 30px;
    }
  }
}
