<!-- content -->
<!-- <div class="app-content" *ngIf="mainpageVissible"> -->
<div class="app-content">
  <!-- left -->
  <div class="app-left">
    <!-- logo -->
    <app-logo [routerLink]="['/main/login']"></app-logo>

    <!-- text section -->
    <div class="app-texts">
      <!-- heading -->
      <h1>
        Welcome to MERCURY<sup>TM</sup><br />
        Access Dashboard
      </h1>

      <!-- paragraph -->
      <p>
        You're key management solutions for better experience and great security. We produce electronic keys that enable
        users to monitor entry to their locations and increase productivity.
      </p>
    </div>

    <!-- video section -->
    <div class="app-video">
      <!-- message -->
      <div class="app-message">
        <!-- right icon -->
        <app-icon-chevron-right-double></app-icon-chevron-right-double>
        WATCH TO KNOW HOW IT WORKS
      </div>

      <!-- video -->
      <app-video-player height="207" url="https://www.youtube.com/embed/YE7VzlLtp-4" width="340"></app-video-player>

      <!-- login button -->
      <button appFlatButton class="dh ms" (click)="redirectLogin()">LOGIN</button>

      <!-- footer -->
      <div class="app-footer dh ms">
        Don't have an account? <a class="app-link" (click)="redirectRegister()">Register here</a>
      </div>
    </div>
  </div>
</div>

<router-outlet class="dh ms" (activate)="onRouteActivated($event)"></router-outlet>

<!-- cookie policy -->
<app-cookie-policy
  (closeClick)="onCookieCloseClicked()"
  *ngIf="cookieVisible"
  [style.display]="hideCookie ? 'none' : null"
></app-cookie-policy>

<!-- footer -->
<app-main-footer></app-main-footer>
