@import 'src/app/styles/mixins';
@import 'src/app/styles/props';

:host {
  display: block;
  height: 100%;
}

// config container
.app-config-container {
  @include flex(flex-start);
  height: calc(100% - 52px);
  margin-top: 8px;
}

// navigation
app-config-navigation {
  width: 160px;
  margin-right: 12px;
  height: 588px;
}

// config routes
.app-config-routes {
  width: calc(100% - 172px);
}

app-side-modal-status-edit {
  position: fixed;
  z-index: 5000;
}

@media (max-width: 767px) {
  // navigation
  app-config-navigation {
    width: 100%;
  }
  app-side-modal-status-edit {
    width: 100%;
    z-index: 9999;
  }
}
