<!-- header -->
<app-config-header [readOnly]="readOnly$ | async"></app-config-header>

<!-- config container -->
<div class="app-config-container">
  <!-- navigation -->
  <app-config-navigation></app-config-navigation>

  <!-- config routes -->
  <div class="app-config-routes">
    <!-- router outlet -->
    <router-outlet (activate)="onRouterActivated($event)"></router-outlet>
  </div>
</div>

<!-- edit -->
<app-side-modal-status-edit
  (created)="onStatusCreated($event)"
  (updated)="onStatusUpdated($event)"
  (closeClick)="closeStatusEdit()"
  *ngIf="editStatusVisible"
  [status]="selectedStatus"
  [group]="addToGroup || selectedStatus.group"
  [mode]="editStatusMode"
></app-side-modal-status-edit>

<!-- delete modal -->
<app-delete-modal
  (closeClick)="closeDeleteModal()"
  (confirmClick)="deleteStatus()"
  *ngIf="deleteConfirmVisible"
  [loading]="deleteLoading"
>
  Are you sure want to delete {{ selectedStatus.label }}?
</app-delete-modal>
