@import 'src/app/styles/mixins';
@import 'src/app/styles/props';

:host {
  display: block;
}

// label section
.app-label-section {
  @include flex(center, space-between);
  margin-bottom: 10px;
}

// label
.app-label {
  @include ubuntuRegular;
  font-size: 12px;
  line-height: 13px;
  color: $eclipse;
}

// additional label
.app-additional-label {
  @include robotoRegular;
  font-size: 10px;
  line-height: 13px;
  color: $suva-grey;
}

// control
.app-control {
  // input
  input {
    height: 32px;
  }

  // textarea
  textarea {
    @include padding(14px 12px);
    resize: none;
    height: 92px;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba($havelock-blue, 0.3);
    }
  }

  // select
  app-select {
    ::ng-deep {
      input {
        @include ubuntuRegular;
        height: 32px;
        font-size: 12px;
        line-height: 13px;
        color: $havelock-blue;
      }

      .app-options {
        box-shadow: 0 1px 15px rgba($black, 0.15);
        border-radius: 4px;
      }

      .app-option-item {
        @include ubuntuRegular;
        height: 32px;
      }
    }
  }

  // field default
  .app-field {
    width: 100%;
  }
}

app-field-error {
  margin-top: 4px;
}
