<ng-container *ngIf="userData">
  <!-- modal content -->
  <app-side-modal-content>
    <!-- title -->
    <app-side-modal-title>
      CHANGE EMAIL ID
    </app-side-modal-title>

    <!-- scrollbar -->
    <app-custom-scrollbar class="app-content">
      <!-- label -->
      <div class="app-label">
        New Email ID
      </div>

      <!-- input -->
      <input [formControl]="control" appInput />

      <!-- error -->
      <app-field-error *ngIf="hasError('required')">
        The email is required
      </app-field-error>

      <app-field-error *ngIf="hasError('email')">
        The email is incorrect
      </app-field-error>

      <!-- note -->
      <app-note>
        Pending Verification.
        <br />
        <br />
        In order to verify your email, we will send the verification mail to your email immediately. Please check your
        email for a verification link.
        <br />
        <br />
        If you get any trouble, please contact <a class="app-link">here</a>.
      </app-note>
    </app-custom-scrollbar>
  </app-side-modal-content>

  <!-- side footer -->
  <app-side-modal-footer>
    <!-- spinner -->
    <app-spinner *ngIf="loading; else buttons"></app-spinner>

    <!-- buttons -->
    <ng-template #buttons>
      <!-- when email sent -->
      <ng-container *ngIf="sent; else verify">
        <!-- submit -->
        <button (click)="submitEmail()" appFlatButton theme="secondary">
          Submit
        </button>
      </ng-container>

      <!-- verify template -->
      <ng-template #verify>
        <!-- verify -->
        <button (click)="verifyEmail()" appFlatButton theme="secondary">
          Verify
        </button>
      </ng-template>

      <!-- cancel -->
      <button (click)="emitCancelClick()" appInlineButton theme="secondary">
        Cancel
      </button>
    </ng-template>
  </app-side-modal-footer>
</ng-container>
