<!-- global spinner -->
<app-spinner *ngIf="!initialized" class="app-global-spinner"></app-spinner>

<!-- summary -->
<app-table-summary (reload)="getData()" [lastUpdate]="lastUpdate" [total]="total" title="KEYHOLDERS">
  <!-- mobile icon -->
  <app-icon-mobile icon></app-icon-mobile>
</app-table-summary>

<!-- actions -->
<app-table-actions
  (filterApply)="onFilterApplied($event)"
  [(viewType)]="viewType"
  [filterConfigs]="filterConfigs"
  [filters]="filters"
  [viewTypes]="viewTypes"
>
  <!-- new button -->
  <button
    *ngIf="editPermission$ | async"
    (click)="openNewKeyholder()"
    actionButton
    appFlatButton
    class="app-create-button"
    theme="primary"
  >
    <span>+</span> Create New
  </button>
</app-table-actions>

<!-- table -->
<app-keyholder-table
  (deleteUndo)="getData(0)"
  (deleted)="getData(0)"
  (pagingChange)="onPagingChanged($event)"
  (sortsChange)="onSortsChanged($event)"
  [data]="data"
  [loading]="loading"
  [page]="page"
  [size]="size"
  [total]="total"
></app-keyholder-table>

<!-- new keyholder -->
<app-side-modal-new-keyholder
  (closeClick)="closeNewKeyholder()"
  (created)="getData(0)"
  *ngIf="newKeyholderVisible"
></app-side-modal-new-keyholder>
