<ng-container *ngFor="let group of navigations; let i = index">
  <!-- for first group -->
  <ng-container *ngIf="i === 0; else notFirst">
    <!-- render group list -->
    <ng-container *ngTemplateOutlet="groupList; context: { group: group }"></ng-container>
  </ng-container>

  <!-- group with divider -->
  <ng-template #notFirst>
    <!-- divider -->
    <div class="app-divider"></div>
    <!-- render group list -->
    <ng-container *ngTemplateOutlet="groupList; context: { group: group }"></ng-container>
  </ng-template>
</ng-container>

<!-- navigation item template -->
<ng-template #groupList let-group="group">
  <!-- render group list -->
  <ng-container *ngFor="let item of group">
    <a
      [routerLink]="['/dashboard/config', item.route]"
      routerLinkActive="active"
      (click)="statusOpen(item)"
      class="app-item"
    >
      {{ item.label }}
    </a>
  </ng-container>
</ng-template>
