<!-- table -->
<app-table
  (pagingChange)="emitPagingChange($event)"
  (sortChange)="emitSortsChange()"
  [columns]="columns"
  [loading]="loading"
  [page]="page"
  [rows]="data"
  [size]="size"
  [loadLabel]="loadMoreLable"
  [total]="total"
>
  <!-- user column -->
  <ng-template appTableBodyCell columnProperty="name" let-user="row">
    <!-- user info -->

    <app-user-info
      (nameClick)="openKeyholderInfo(user)"
      [clickable]="true"
      [tooltipVisible]="true"
      [user]="user"
      type="email"
    ></app-user-info>
  </ng-template>

  <!-- state column -->
  <ng-template appTableBodyCell columnProperty="state" let-user="row">
    <span class="column-label dh ms">STATE</span>
    <!-- state label -->
    <app-state-label [state]="user.state" [status]="user.status" type="keyholder"></app-state-label>
  </ng-template>

  <!-- devices -->
  <ng-template appTableBodyCell columnProperty="associatedDevices" let-user="row" let-devices="value">
    <!-- associations -->
    <app-associations
      (addClick)="openAddAssociation(user, devices, 'device')"
      [associations]="devices"
      [readOnly]="readOnly$ | async"
      type="device"
    ></app-associations>
  </ng-template>

  <!-- spaces -->
  <ng-template appTableBodyCell columnProperty="associatedSpaces" let-user="row" let-spaces="value">
    <!-- spaces -->
    <div class="app-spaces">
      <!-- associations -->
      <app-associations
        (addClick)="openAddAssociation(user, spaces, 'space')"
        [associations]="spaces"
        [readOnly]="readOnly$ | async"
        type="space"
      ></app-associations>

      <!-- more options -->
      <app-more-options #more>
        <!-- recent device access -->
        <button
          (click)="openAccessHistory(user); more.close()"
          *ngIf="accessHistoryReadPermission$ | async"
          appIconButton
        >
          <!-- lock -->
          <app-icon-lock-small></app-icon-lock-small>
          Recent Device Access
        </button>

        <!-- recent activity -->
        <button (click)="openActivityHistory(user); more.close()" appIconButton>
          <!-- line chart -->
          <app-icon-line-chart></app-icon-line-chart>
          Recent Activity
        </button>

        <!-- divider -->
        <div class="app-divider"></div>

        <!-- send auth code -->
        <button (click)="openSendAuthCode(user); more.close()" appIconButton>
          <!-- shield -->
          <app-icon-shield></app-icon-shield>
          SEND AUTH CODE
        </button>

        <ng-container *ngIf="editPermission$ | async">
          <!-- edit -->
          <button (click)="openKeyholderEdit(user); more.close()" appIconButton>
            <!-- pencil -->
            <app-icon-pencil></app-icon-pencil>
            Edit
          </button>

          <!-- delete -->
          <button (click)="openDeleteConfirmModal(user); more.close()" appIconButton>
            <!-- delete -->
            <app-icon-delete></app-icon-delete>
            Delete
          </button>
        </ng-container>
      </app-more-options>
    </div>
  </ng-template>
</app-table>

<!-- access history -->
<app-side-modal-access-history
  (closeClick)="closeAccessHistory()"
  *ngIf="accessHistoryVisible"
  [user]="selectedKeyholder"
  type="keyholder"
></app-side-modal-access-history>

<!-- add association modal -->
<app-side-modal-add-association
  (applied)="onAssociationApplied($event)"
  (closeClick)="closeAddAssociation()"
  *ngIf="addAssociationVisible"
  [associations]="selectedAssociations"
  [type]="associationType"
  [user]="selectedKeyholder"
></app-side-modal-add-association>

<!-- activity history -->
<app-side-modal-activity-history
  (closeClick)="closeActivityHistory()"
  *ngIf="activityHistoryVisible"
  [user]="selectedKeyholder"
></app-side-modal-activity-history>

<!-- send auth code -->
<app-side-modal-send-auth-code
  (closeClick)="closeSendAuthCode()"
  *ngIf="sendAuthCodeVisible"
  [user]="selectedKeyholder"
></app-side-modal-send-auth-code>

<!-- keyholder info -->
<app-side-modal-keyholder-info
  (updated)="onInfoUpdated()"
  (closeClick)="closeKeyholderInfo()"
  *ngIf="keyholderInfoVisible"
  [user]="selectedKeyholder"
></app-side-modal-keyholder-info>

<!-- delete confirm -->
<app-delete-modal
  (closeClick)="closeDeleteConfirmModal()"
  (confirmClick)="deleteKeyholder()"
  *ngIf="deleteModalVisible"
  [loading]="deleteLoading"
>
  Are you sure want to delete Keyholder {{ selectedKeyholder.id }} ?
</app-delete-modal>
