@import 'src/app/styles/mixins';
@import 'src/app/styles/props';

// table columns
app-table {
  ::ng-deep {
    .app-table-row {
      .app-table-column {
        @include setMultipleWidths((11.38755981%, 21.4354067%, 13.58851675%, 18.94736842%, 16.55502392%, 18.0861244%));

        @include setMultipleMinWidths(
          (112.0535885px, 210.9244019px, 133.7110048px, 186.4421053px, 162.9014354px, 177.9674641px)
        );
      }
    }

    // name header left padding
    .app-table-header {
      .app-table-row {
        .app-table-column {
          &:nth-child(2) {
            @include paddingLeft(47px);
          }
        }
      }
    }
  }
}

// spaces column
.app-spaces {
  position: relative;
}

// options
app-more-options {
  position: absolute;
  top: -5px;
  right: -1px;

  ::ng-deep {
    .app-options {
      width: 180px;
    }
  }

  app-icon-shield {
    ::ng-deep {
      svg {
        width: 12px;
        height: 14.67px;
      }

      path {
        fill: $havelock-blue;
      }
    }
  }

  // divider
  .app-divider {
    width: 100%;
    height: 1px;
    background-color: $solitude;
    margin: 7px 0;
  }
}

app-side-modal-access-history,
app-side-modal-add-association,
app-side-modal-activity-history,
app-side-modal-send-auth-code,
app-side-modal-keyholder-info,
app-delete-modal {
  position: fixed;
  z-index: 5000;
}

@media (max-width: 767px) {
  // table
  app-table {
    ::ng-deep {
      .app-table-row {
        .app-table-column {
          // set multiple column widths
          @include setMultipleWidths((33%, 100%, 33%, 34%, 50%, 50%));

          @include setMultipleMinWidths((10px, 10px, 10px, 10px, 10px, 10px));

          @include setMultipleOrder((2, 1, 3, 4, 5, 6));
        }
      }
    }
  }
  // table
  app-table {
    ::ng-deep {
      .app-table-row {
        .app-table-column:nth-child(5) {
          padding-right: 0;
        }
      }
    }
  }
  app-table {
    ::ng-deep {
      .app-table-row {
        .app-table-column:nth-child(6) {
          padding-left: 0;
        }
      }
    }
  }

  // options
  app-more-options {
    top: 16px;
    right: 6px;
  }
  app-associations {
    display: flex;
    justify-content: center;
    border-top: solid 1px rgba(0, 0, 0, 0.12);
    padding-top: 16px;
  }
  .column-label {
    color: #939393;
    text-transform: uppercase;
    font-size: 11px;
  }
  // spaces column
  .app-spaces {
    position: static;
  }
}

@media (min-width: 768px) and (max-width: 1300px) {
  // table
  app-table {
    ::ng-deep {
      .app-table-row {
        .app-table-column {
          @include setMultipleMinWidths((40px, 80px, 50px, 60px, 50px, 60px));
        }
      }
    }
  }
}
