<!-- row -->
<div class="app-row header">
  <!-- label -->
  <div class="app-column permission">
    {{ label }}
  </div>

  <!-- read column -->
  <div class="app-column read">
    READ
  </div>

  <!-- edit column -->
  <div class="app-column edit">
    EDIT
  </div>
</div>

<!-- administrators -->
<div *ngFor="let item of permissionList" class="app-row">
  <!-- empty -->
  <div class="app-column permission">
    {{ item.label }}
  </div>

  <!-- read column -->
  <div class="app-column read">
    <app-checkbox
      (click)="changePermission(item.value, 'read')"
      [active]="permissions[item.value].read"
      appearance="filled"
    ></app-checkbox>
  </div>

  <!-- edit column -->
  <div class="app-column edit">
    <app-checkbox
      (click)="changePermission(item.value, 'edit')"
      [active]="permissions[item.value].edit"
      appearance="filled"
    ></app-checkbox>
  </div>
</div>
