<!-- header -->
<div class="app-status-header">
  <!-- title -->
  <div class="app-status-title">
    {{ status.label }}
    <!-- default -->
    <div *ngIf="status.default" class="app-status-badge">
      DEFAULT
    </div>
    <!-- use -->
    <div *ngIf="status.use" class="app-status-badge">
      IN USE
    </div>
  </div>

  <!-- actions -->
  <div *ngIf="!readOnly" class="app-status-actions">
    <!-- button -->
    <div class="app-status-button">
      <!-- edit -->
      <app-icon-pencil (click)="editClick.emit(status)"></app-icon-pencil>
    </div>

    <!-- button -->
    <div class="app-status-button">
      <!-- delete -->
      <app-icon-delete (click)="deleteClick.emit(status)" *ngIf="!status.default"></app-icon-delete>
    </div>
  </div>
</div>

<!-- description -->
<div class="app-status-description">
  {{ status.description }}
</div>
