@import 'src/app/styles/mixins';
@import 'src/app/styles/props';

:host {
  @include paddingBottom(16px);
  @include borderBottom(1px solid $solitude);
  display: block;
}

// status header
.app-status-header {
  @include flex(center, space-between);
  margin-bottom: 11px;
}

// status title
.app-status-title {
  @include ubuntuMedium;
  @include flex(center);
  font-size: 12px;
  line-height: 13px;
  color: $egyptian-blue;
}

// badge
.app-status-badge {
  @include ubuntuBold;
  @include padding(3px 5px);
  border-radius: 2px;
  background-color: $alice-blue;
  font-size: 10px;
  line-height: 11px;
  color: $jordy-blue;
  margin-left: 10px;
}

// gap between badge
.app-status-badge + .app-status-badge {
  margin-left: 7px;
}

// status actions
.app-status-actions {
  @include flex(center);
}

// status edit
.app-status-button {
  @include box(16px);

  .app-icon {
    @include box(16px);
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  app-icon-pencil {
    ::ng-deep {
      svg {
        @include box(12px);
      }

      path {
        fill: $havelock-blue;
      }
    }
  }

  app-icon-delete {
    ::ng-deep {
      svg {
        width: 9.33px;
        height: 12px;
      }

      path {
        fill: $bittersweet;
      }
    }
  }
}

// gap between status button
.app-status-button + .app-status-button {
  margin-left: 5px;
}

// status description
.app-status-description {
  @include robotoRegular;
  font-size: 12px;
  line-height: 14px;
  color: $eclipse;
  width: calc(100% - 141px);
}

@media (max-width: 767px) {
  // status description
  .app-status-description {
    width: 100%;
  }
}
