<!-- state -->
<div class="app-state">
  <!-- state icon -->
  <div [style.background-color]="color" class="app-dot"></div>

  <!-- label -->
  {{ state }}

  <!-- disabled reason -->
  <app-disabled-reason *ngIf="disabledReason" [reason]="disabledReason"></app-disabled-reason>
</div>

<!-- status -->
<div *ngIf="status" class="app-status">
  STATUS: <span>{{ status }}</span>
</div>
