@import 'src/app/styles/mixins';
@import 'src/app/styles/props';

// form field
app-form-field {
  ::ng-deep {
    app-select {
      .app-options {
        @include border(1px solid $suva-grey);
      }
    }
  }
}

// side content
app-side-modal-content {
  @include paddingBottom(32px);
  height: calc(100% - 78px);
}

// form field gap
app-form-field + app-form-field {
  margin-top: 18px;
}

// status field
.app-status {
  margin-top: 8px;
}

// heading for authorization
.app-heading {
  @include ubuntuRegular;
  font-size: 12px;
  line-height: 13px;
  margin-top: 19px;
  color: $eclipse;
}

// permissions
app-permissions {
  margin-top: 9px;
}

// radio buttons
.app-radio-buttons {
  @include flex(center);
  margin-top: 10px;

  // radio
  .app-radio {
    @include robotoRegular;
    @include flex(center);
    width: 50%;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
    user-select: none;

    app-radio {
      margin-right: 6px;
    }
  }
}

.app-key-serial-number {
  margin-top: 18px;
}
