@import 'src/app/styles/mixins';
@import 'src/app/styles/props';

:host {
  flex-wrap: nowrap;
}

// title
app-side-modal-title {
  @include flex(center);
  margin-bottom: 24px;

  // toolkit icon
  app-icon-toolkit-reverse {
    margin-left: 5.8px;
  }
}

app-side-modal-content {
  width: 100%;
}

// label
.app-label {
  @include ubuntuRegular;
  font-size: 12px;
  line-height: 13px;
  color: $eclipse;
  margin: 16px 0 10px;

  &:first-of-type {
    margin-top: 0;
  }
}

// store badges
.app-badges {
  @include flex(center);

  a {
    @include widthBetweenGap(5.4px, 2);
    cursor: pointer;

    img {
      width: 100%;
    }
  }
}

// content
.app-content {
  height: calc(100% - 13px - 24px);
}
