@import 'src/app/styles/mixins';
@import 'src/app/styles/props';

:host {
  position: relative;
  display: block;

  // card
  app-card {
    padding: 0;
    overflow: hidden;
  }
}

// user info
.app-user-info {
  @include flex(center);
  cursor: pointer;
  user-select: none;

  // override styles
  app-user-info {
    ::ng-deep {
      // avatar
      app-user-avatar {
        @include ball(35px);
      }

      // name
      .app-name {
        @include ubuntuBold;
        font-size: 12px;
        line-height: 13px;
        color: $white;
      }
    }
  }

  // dropdown icon
  .app-icon {
    @include box(24px);
    margin-left: 2px;

    &.opened {
      transform: rotate(180deg);
    }
  }
}

// card
app-card {
  position: absolute;
  top: calc(100% + 16px);
  right: 0;
  overflow: visible;
}

// card user
.app-card-user {
  @include padding(16px);
  @include borderBottom(1px solid $solitude);

  app-user-info {
    flex-wrap: nowrap;

    ::ng-deep {
      // avatar
      app-user-avatar {
        @include ball(35px);
      }

      // name
      .app-name {
        @include ubuntuMedium;
        color: $eclipse;
      }
    }
  }
}

// actions
.app-actions {
  @include padding(11.5px 0);
}
