<!-- selected location -->
<div (click)="toggle()" class="app-selected">
  <!-- first letter -->
  <div class="app-letter">
    {{ selectedLocationFirstLetter$ | async }}
  </div>

  <!-- selected value -->
  <div class="app-value">Location {{ selectedLocationLabel$ | async | uppercase }}</div>

  <!-- arrow dropdown -->
  <app-icon-dropdown [class.opened]="opened"></app-icon-dropdown>
</div>

<!-- search container -->
<div
  (outsideClick)="close()"
  *ngIf="opened"
  [outsideDetectorContainer]="elementRef"
  appOutsideDetector
  class="app-search-container"
>
  <!-- search -->
  <div class="app-search">
    <!-- input -->
    <input [formControl]="control" autocomplete="off" placeholder="Find by name or ID" spellcheck="false" />

    <!-- icon -->
    <app-icon-search></app-icon-search>
  </div>

  <!-- custom scrollbar -->
  <app-custom-scrollbar class="app-options">
    <!-- render locations -->
    <ng-container *ngFor="let item of filteredLocations$ | async">
      <!-- location item -->
      <div (click)="onLocationClicked(item)" [class.selected]="isSelectedLocation(item) | async" class="app-location">
        <!-- first letter -->
        <div class="app-letter">
          {{ getFirstLetter(item.location) }}
        </div>

        <span> Location {{ item.location | uppercase }} </span>
      </div>
    </ng-container>
  </app-custom-scrollbar>
</div>
