<!-- modal cover -->
<div (click)="onCloseClicked()" class="app-modal-cover"></div>

<!-- modal container -->
<div class="app-modal-container">
  <!-- modal -->
  <div class="app-modal">
    <!-- content -->
    <ng-content></ng-content>
  </div>
</div>
