@import '../../../styles/mixins';
@import '../../../styles/props';

:host {
  display: block;
}

// cover
.app-modal-cover {
  @include fullScreen;
  position: fixed;
  background-color: $modal-cover-background;
}

// container
.app-modal-container {
  @include fullScreen;
  @include flex(center, center);
  position: fixed;
  pointer-events: none;
}

// modal
.app-modal {
  pointer-events: auto;
  background-color: $white;
  border-radius: $modal-border-radius;
  box-shadow: $modal-shadow;
}
