<!-- side modal -->
<app-side-modal (closeClick)="emitCloseClick()">
  <!-- switch by view -->
  <ng-container [ngSwitch]="view">
    <!-- default -->
    <ng-container *ngSwitchCase="'default'">
      <!-- default view -->
      <app-device-register-default
        (cancelClick)="emitCloseClick()"
        (nextClick)="toNextStep($event)"
        [data]="data"
      ></app-device-register-default>
    </ng-container>

    <!-- toolkit -->
    <ng-container *ngSwitchCase="'toolkit'">
      <!-- toolkit page -->
      <app-device-register-toolkit
        (verified)="toSuccess()"
        (backClick)="toDefault()"
        [(code)]="code"
      ></app-device-register-toolkit>
    </ng-container>

    <!-- success -->
    <ng-container *ngSwitchCase="'success'">
      <!-- success page-->
      <app-device-register-success
        (openDetail)="openDetail.emit($event)"
        (closeClick)="emitCloseClick()"
        [device]="data"
      ></app-device-register-success>
    </ng-container>
  </ng-container>
</app-side-modal>
