<!-- side modal -->
<app-side-modal (closeClick)="closeClick.emit()">
  <!-- user info -->
  <app-side-user-info (viewInit)="onInfoInit($event)" [readOnly]="true" [user]="user"></app-side-user-info>

  <!-- switch by view -->
  <ng-container [ngSwitch]="view">
    <!-- default -->
    <ng-container *ngSwitchCase="'default'">
      <!-- profile -->
      <app-keyholder-info-default
        (cancelClick)="closeClick.emit()"
        (editClick)="toEdit()"
        [style.hegiht]="contentHeight"
        [user]="user"
      ></app-keyholder-info-default>
    </ng-container>

    <!-- edit -->
    <ng-container *ngSwitchCase="'edit'">
      <!-- edit profile -->
      <app-keyholder-info-edit
        (cancelClick)="toDefault()"
        (saved)="onUserSaved($event)"
        [style.hegiht]="contentHeight"
        [user]="user"
      ></app-keyholder-info-edit>
    </ng-container>
  </ng-container>
</app-side-modal>
