<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
  <g transform="translate(-1196 -168)">
    <g transform="translate(1196.7 168.7)">
      <path
        d="M6.75,15.15H3.95a1.4,1.4,0,0,1-1.4-1.4V3.95a1.4,1.4,0,0,1,1.4-1.4h2.8"
        transform="translate(-2.55 -2.55)"
        fill="none"
        stroke="#f66"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.7"
      />
      <path
        d="M13.6,12.95l3.5-3.5-3.5-3.5"
        transform="translate(-4.5 -3.15)"
        fill="none"
        stroke="#f66"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.7"
      />
      <line
        x1="8.4"
        transform="translate(4.2 6.3)"
        fill="none"
        stroke="#f66"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.7"
      />
    </g>
  </g>
</svg>
