<!-- dashboard header -->
<app-dashboard-header></app-dashboard-header>

<!-- main content -->
<div class="app-main-content">
  <!-- navigation -->
  <app-navigation *ngIf="toggleNav"></app-navigation>

  <!-- content -->
  <app-custom-scrollbar>
    <div class="app-router-content">
      <router-outlet></router-outlet>
    </div>
  </app-custom-scrollbar>

  <!-- last 24 accesses -->
  <app-last-accesses class="ds mh"></app-last-accesses>
</div>
