<ng-container *ngIf="user">
  <!-- user avatar -->
  <app-user-avatar [user]="user"></app-user-avatar>

  <!-- right section -->
  <div class="app-right">
    <!-- user name -->
    <app-tooltip [tooltipVisible]="tooltipVisible" position="top">
      <div (click)="emitNameClick()" [class.app-link]="clickable" class="app-name">
        {{ user.firstName }} {{ user.lastName }}
      </div>
      <!-- tooltip message -->
      <b tooltip> {{ user.firstName }} {{ user.lastName }} </b>
    </app-tooltip>

    <!-- switch type -->
    <ng-container [ngSwitch]="type">
      <!-- role -->
      <ng-container *ngSwitchCase="'role'">
        <!-- user role -->
        <div class="app-role">
          {{ user.role | uppercase }}
        </div>
      </ng-container>

      <!-- email -->
      <ng-container *ngSwitchCase="'email'">
        <!-- user email -->
        <div class="app-email">
          {{ user.email }}
        </div>
      </ng-container>

      <!-- key -->
      <ng-container *ngSwitchCase="'key'">
        <!-- user key -->
        <div class="app-key">
          KEY SN: <span>{{ user['key'].sn }}</span>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'custom'">
        <!-- custom content -->
        <ng-content select="[custom]"></ng-content>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
