<!-- cover -->
<div (click)="emitCloseClick()" class="app-cover"></div>

<!-- card -->
<app-card>
  <!-- spinner -->
  <app-spinner *ngIf="loading; else content"></app-spinner>

  <!-- content -->
  <ng-template #content>
    <!-- content -->
    <div class="app-message">
      <ng-content></ng-content>
    </div>

    <!-- actions -->
    <div class="app-actions">
      <button (click)="emitConfirmClick()" appFlatButton theme="warn">
        Yes, delete
      </button>

      <button (click)="emitCloseClick()" appInlineButton theme="secondary">
        Cancel
      </button>
    </div>
  </ng-template>
</app-card>
