:host {
  display: block;
}

// content
app-side-modal-content {
  height: calc(100% - 71px - 78px);
}

// custom scrollbar
app-custom-scrollbar {
  height: 100%;
}

// code generator label
app-auth-code-generator {
  ::ng-deep {
    .app-label {
      margin-top: 0;
    }
  }
}

// footer
app-side-modal-footer {
  height: 78px;

  button {
    width: 80px;
    height: 28px;
    font-size: 10px;
    line-height: 11px;
  }
}
