<!-- page size -->
<div class="app-ellipsis-paginator-size-dropdown">
  View
  <div #select (click)="toggle()" class="app-size-select">
    <!-- selected value -->
    <div class="app-value">
      {{ size }}
      <!-- up-->
      <app-icon-arrow-drop-up *ngIf="opened; else down"></app-icon-arrow-drop-up>
      <!-- down-->
      <ng-template #down>
        <app-icon-arrow-drop-down></app-icon-arrow-drop-down>
      </ng-template>
    </div>

    <!-- options -->
    <app-custom-scrollbar
      (outsideClick)="opened = false"
      *ngIf="opened"
      [outsideDetectorContainer]="select"
      appOutsideDetector
      class="app-options"
    >
      <div (click)="onSizeChange(item)" *ngFor="let item of sizeOptions" class="app-option">
        {{ item.label }}
      </div>
    </app-custom-scrollbar>
  </div>
</div>

<!-- pages and arrows -->
<div class="app-ellipsis-paginator">
  <!-- prev -->
  <app-icon-chevron-left (click)="toPrev()" [class.disabled]="!hasPrev"></app-icon-chevron-left>

  <!-- start pages -->
  <div
    (click)="emitPageChange(p.page, size)"
    *ngFor="let p of startPages"
    [class.active]="p.active"
    class="app-ellipsis-paginator-page"
  >
    {{ p.label }}
  </div>

  <!-- start ellipsis -->
  <div *ngIf="showStartEllipsis" class="app-ellipsis-paginator-page ellipsis">
    ...
  </div>

  <!-- middle pages -->
  <div
    (click)="emitPageChange(p.page, size)"
    *ngFor="let p of middlePages"
    [class.active]="p.active"
    class="app-ellipsis-paginator-page"
  >
    {{ p.label }}
  </div>

  <!-- end ellipsis -->
  <div *ngIf="showEndEllipsis" class="app-ellipsis-paginator-page ellipsis">
    ...
  </div>

  <!-- end pages -->
  <div
    (click)="emitPageChange(p.page, size)"
    *ngFor="let p of endPages"
    [class.active]="p.active"
    class="app-ellipsis-paginator-page"
  >
    {{ p.label }}
  </div>

  <!-- next -->
  <app-icon-chevron-right (click)="toNext()" [class.disabled]="!hasNext"></app-icon-chevron-right>
</div>
